<header>
    <div class="logo">
        {# <img src="{{ asset('public/images/logo.png') }}"/> #}
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">home</a></li>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                {% endif %}
                {% if is_granted('ROLE_VENDEUR') %}
                    <li><a href="{{ path('boutique') }}">Boutique</a></li>
                {% endif %}
                <li><a href="{{ path('app_logout') }}">déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>  
                <li><a href="{{ path('app_register') }}">Inscription</a></li> 
            {% endif %}
        </ul>
    </nav>
</header>