
    {% for conv in listing %}
        <a class="dropdown-item d-flex align-items-center" href="{{ path('boutique_messagerie_message', {id: conv.id}) }}">
            <div class="dropdown-list-image mr-3">
                <img class="rounded-circle" src="{{ asset('images/default-profile-picture.jpg') }}"
                    alt="...">
                <div class="status-indicator bg-success"></div>
            </div>
            <div class="font-weight-bold">
                <div class="text-truncate">
                    {{ conv.premierMessage }}
                    {% if tblNbrNonlus %}
                        {% for key, nbr in tblNbrNonlus %}
                            {% if key == conv.id %}
                                ({{ nbr }})
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="small text-gray-500">{{ conv.user.name }} {{ conv.user.surname }} · {{ conv.createdAt|date('Y-m-d H:i:s') }}</div>
            </div>
        </a>
    {% endfor %}