<div id="contener_form">
    {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}

        <div class="bloc_form">
            {{ form_label(form.upload, 'Ajouter une image') }}<br>
            {{ form_widget(form.upload) }}

            <small>{{ form_help(form.upload) }}</small>

            <div class="form-error">
                {{ form_errors(form.upload) }}
                {% for message in app.flashes('failure') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bloc_form">
            {{ form_label(form.position) }}
            {{ form_widget(form.position, {attr : {min: 1, max: nbImagesHero}}) }}

            <small>{{ form_help(form.position) }}</small>

            <div class="form-error">
                {{ form_errors(form.position) }}
            </div>
        </div>

        <div class="bloc_form">
            <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
        </div>
    {{ form_end(form) }}
</div>