{% extends 'layout/admin_base.html.twig' %}

{% block title %}Diaporama{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/flex/flexslider.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="p-t-10 p-b-10">
        <a href="{{ path('new_images_hero') }}" class="btn btn-primary width-100">Créer une nouvelle image</a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Images diaporama page d'accueil</h6>
        </div>
        <p>Vous pouvez "glisser-déposer" les images pour changer leurs places.</p>
        <div class="card-body">
            <div class="table-responsive">
                <table class="sortable table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in imagesHero %}
                            <tr draggable="true" rel="{{ image.id }}">
                                <td>
                                    <img style="width: 50%" src="{{ asset('/uploads/hero/'~image.title) }}" alt="Image du diaporama d'accueil">
                                </td>
                                <td>
                                    <a href="{{ path('edit_images_hero', {id: image.id}) }}" class="btn btn-primary">Modifier</a>
                                    {{ include('admin/diapo_home/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Aucune donnée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('asset/js/admin.js') }}"></script>

{% endblock %}