{% extends 'layout/admin_base.html.twig' %}

{% block title %}Diaporama{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Images diaporama page d'accueil</h6>
        </div>
        <p class="font-weight-bold text-center mt-4">Vous pouvez "glisser-déposer" les images pour changer leurs places.</p>
        <div class="card-body">
            <div class="p-t-10 p-b-10">
                <a href="{{ path('new_images_hero') }}" class="btn btn-primary width-100">Ajouter une nouvelle image</a>
            </div>
            <div class="table-responsive">
                <table class="sortable table table-bordered  text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th class="td_actions_box">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in imagesHero %}
                            <tr draggable="true" rel="{{ image.id }}" id="box">
                                <td>
                                    <div class="hero_image_box">
                                        <img src="{{ asset('/uploads/hero/'~image.title) }}" alt="Image du diaporama d'accueil">
                                    </div>
                                </td>
                                <td  class="td_actions_box">
                                    <div>
                                        <a href="{{ path('edit_images_hero', {id: image.id}) }}" class="btn btn-primary td_action">Modifier</a>
                                        {{ include('admin/diapo_home/_delete_form.html.twig') }}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Aucune donnée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let adminNs =
            {
                initDraggableEntityRows: function() {
                    let dragSrcEl     = null;
                    let startPosition = null;
                    let endPosition   = null;
                    let parent;
                    let entityId;
                    function handleDragStart(e) {
                        dragSrcEl = this;
                        entityId = $(this).attr('rel');
                        dragSrcEl.style.opacity = '0.4';
                        parent = dragSrcEl.parentNode;
                        startPosition = Array.prototype.indexOf.call(parent.children, dragSrcEl)+1;
                        e.dataTransfer.effectAllowed = 'move';
                        e.dataTransfer.setData('text/html', this.innerHTML);
                    }
                    function handleDragOver(e) {
                        if (e.preventDefault) {
                            e.preventDefault();
                        }
                        e.dataTransfer.dropEffect = 'move';
                        return false;
                    }
                    function handleDragEnter(e) {
                        this.classList.add('over');
                    }
                    function handleDragLeave(e) {
                        this.classList.remove('over');
                    }
                    function handleDrop(e) {
                        if (e.stopPropagation) {
                            e.stopPropagation();
                        }
                        if (dragSrcEl !== this) {
                            endPosition = Array.prototype.indexOf.call(parent.children, this)+1;
                            dragSrcEl.innerHTML = this.innerHTML;
                            this.innerHTML      = e.dataTransfer.getData('text/html');
                            $.ajax({
                                url: '/admin/hero/sort/'+entityId+'/'+startPosition+'/'+endPosition,
                            })
                                .done(function(res) {
                                    $("table.sortable tbody").replaceWith($(res).find("table.sortable tbody"));
                                })
                                .fail(function(err) {
                                    alert("Une erreur est survenue. Veuillez rafraichir la page ou contacter l'administrateur du site.")
                                })
                                .always(function() {
                                    adminNs.initDraggableEntityRows();
                                });
                        }
                        return false;
                    }
                    function handleDragEnd(e) {
                        this.style.opacity = '1';
                        [].forEach.call(rows, function (row) {
                            row.classList.remove('over');
                        });
                    }
                    let rows = document.querySelectorAll('table.sortable > tbody tr');
                    [].forEach.call(rows, function(row) {
                        row.addEventListener('dragstart', handleDragStart, false);
                        row.addEventListener('dragenter', handleDragEnter, false);
                        row.addEventListener('dragover', handleDragOver, false);
                        row.addEventListener('dragleave', handleDragLeave, false);
                        row.addEventListener('drop', handleDrop, false);
                        row.addEventListener('dragend', handleDragEnd, false);
                    });
                },
                /**
                 * Primary Admin initialization method.
                 * @returns {boolean}
                 */
                init: function() {
                    this.initDraggableEntityRows();
                    return true;
                }
            };

        $(function() {
            adminNs.init();
        });
    </script>
{#//     Polyfill for mobile Drag n Drop use.#}
    <script id="DragDropTouch" src="https://bernardo-castilho.github.io/DragDropTouch/DragDropTouch.js"></script>
{% endblock %}