{% extends 'layout/admin_base.html.twig' %}

{% block title %}Hero{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/flex/flexslider.css') }}" type="text/css">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/admin.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="p-t-10 p-b-10">
        <a href="{{ path('new_images_hero') }}" class="btn btn-primary width-100">Créer une nouvelle image</a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Images diaporama page home</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="js-filter-pagination" id="pagination_box">
                    {{ knp_pagination_render(imagesHero) }}
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Position</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Position</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for image in imagesHero %}
                            <tr>
                                <td>{{ image.id }}</td>
                                <td>{{ image.title }}</td>
                                <td>{{ image.position }}</td>
                                <td>
                                    <a href="{{ path('edit_images_hero', {id: image.id}) }}" class="btn btn-primary">Modifier</a>
                                    <a href="{{ path('delete_images_hero', {id: image.id}) }}" class="btn btn-primary">Supprimer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Aucune données</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="js-filter-pagination" id="pagination_box">
                    {{ knp_pagination_render(imagesHero) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
