{% extends 'layout/admin_base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 p-20">
    <h2 class="title">Conversations</h2>
    <div class="chatbox-holder">
        <div class="chatbox">
            <div class="chatbox-top">
                {% if conversation.user.email == app.user.email %}
                    <div class="message-box-holder background-white-plus">
                        <div class="message-box">{{ conversation.premierMessage }}</div>
                    </div>
                {% else %}
                    <div class="message-box-holder background-lightgrey">
                        <div class="message-sender">{{ conversation.user.name }}</div>
                        <div class="message-box message-partner">{{ conversation.premierMessage }}</div>
                    </div>
                {% endif %}
                {% for message in conversation.messages %}
                    {% if message.expediteur.email == app.user.email %}
                        <div class="message-box-holder background-white-plus">
                            <div class="message-box">{{ message.message }}</div>
                        </div>
                    {% else %}
                        <div class="message-box-holder background-lightgrey">
                            <div class="message-sender">{{ message.expediteur.name }}</div>
                            <div class="message-box message-partner">{{ message.message }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="chat-input-holder">
                {{ form_start(form, {attr : {novalidate: 'novalidate', class: 'width-100 d-flex row-wrap'}}) }}
                    {{ form_widget(form.message) }}
                    {{ form_widget(form.submit) }}
                    <div class="form-error width-100">
                        {{ form_errors(form.message) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="m-t-20">
        <a href="{{ path('app_conversation_index', {id: app.user.id}) }}" class="action width-100 text-align-center inline-block">Retour à la liste</a>
    <div>
</div>
{% endblock %}
