{% extends 'layout/front_profil_base.html.twig' %}

{% block title %}
    <title>Nouveau message</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Formulaires') }}
{% endblock %}

{% block container %}
<div id="main">
    <h2 class="title_top">Démarrer une conversation</h2>
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="body">
        <div id="contener_form">
            {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
                <div class="bloc_form">
                    {{ form_label(form.premier_message) }}
                    {{ form_widget(form.premier_message) }}

                    <small>{{ form_help(form.premier_message) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.premier_message) }}
                    </div>
                </div>
                <div class="block_submit">
                    <div class="bloc_form btn-custom">
                        <span class="hover-effect">
                        {{ form_widget(form.submit, {attr : {class : ' '}}) }}
                        </span>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
