{% extends 'layout/admin_base.html.twig' %}

{% block title %}Utilisateur détails{% endblock %}

{% block body %}
<div class="card mb-4">
    <div class="card-header d-flex"><p class="m-0 font-weight-bold text-primary">E-mail :&nbsp;</p><p>{{ user.email }}</p></div>
    <div class="card-body">
        <div class="image_card">
            <div><h6 class="m-0 font-weight-bold text-primary">Photo de profil : </h6></div>
            {% include '_partials/_photo_profile.html.twig' %}
        </div>
        <div class="description_card">
            <div><h6 class="m-0 font-weight-bold text-primary">Nom : </h6><p>{{ user.surname }}</p></div>
            <div><h6 class="m-0 font-weight-bold text-primary">Prénom : </h6><p>{{ user.name }}</p></div>
            <div>
                <h6 class="m-0 font-weight-bold text-primary">Rôles : </h6>
                <ul>
                    {% for role in user.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if user.isVerified == true %}
                <div><h6 class="m-0 font-weight-bold text-primary">Vérifié : </h6><p>Oui</p></div>
            {% else %}
                <div><h6 class="m-0 font-weight-bold text-primary">Vérifié : </h6><p>Non</p></div>
            {% endif %}
            {% if user.actif %}
                <div class="m-b-10"><h6 class="m-0 font-weight-bold text-primary">Statut : </h6>Actif</div>
                <div>
                    <a href="{{ path('toggle_active_user', {id: user.id}) }}" class="btn btn-primary">Rendre inactif</a>
            {% else %}
                <div><h6 class="m-0 font-weight-bold text-primary">Status : </h6>Inactif</div>
                <div>
                    <a href="{{ path('toggle_active_user', {id: user.id}) }}" class="btn btn-primary">Rendre actif</a>
            {% endif %}
                <a href="{{ path('new_conversation', {id: user.id}) }}" class="btn btn-primary">Demander une modification</a>
            </div>
        </div>
    </div>
</div>
<div class="m-t-20 m-b-20">
    {% if user.actif %}
        <a href="{{ path('all_users_actifs') }}" class="btn btn-primary width-100">Retour listing utilisateurs</a>
    {% else %}
        <a href="{{ path('all_users_inactifs') }}" class="btn btn-primary width-100">Retour listing utilisateurs</a>
    {% endif %}
</div>
{% endblock %}