{% extends 'layout/admin_base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 p-20">
    <h2 class="title">Users Actif</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-b-20">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Id</th>
                    <th scope="col" class="px-6 py-3">E-mail</th>
                    <th scope="col" class="px-6 py-3">Roles</th>
                    <th scope="col" class="px-6 py-3">Vérifier</th>
                    <th scope="col" class="px-6 py-3">Nom</th>
                    <th scope="col" class="px-6 py-3">Prénom</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for user in usersActif %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ user.id }}</th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ user.email }}</th>
                    {% if user.roles[1] is defined %}
                        <td class="px-6 py-4">Vendeur</td>
                    {% else %}
                            <td class="px-6 py-4">Acheteur</td> 
                    {% endif %}
                    {% if user.isVerified == true %}
                        <td class="px-6 py-4">Vérifier</td>
                    {% else %}
                        <td class="px-6 py-4">Non Vérifier</td>
                    {% endif %}
                    <td class="px-6 py-4">{{ user.surname }}</td>
                    <td class="px-6 py-4">{{ user.name }}</td>
                    <td class="px-6 py-4 text-right"><a href="{{ path('details-user', {id: user.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Détails</a></td>
                </tr>
            {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="js-filter-pagination" id="pagination_box">
            {{ knp_pagination_render(usersActif) }}
        </div>
    </div>
    <h2 class="title">Users Inactif</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-b-20">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Id</th>
                    <th scope="col" class="px-6 py-3">E-mail</th>
                    <th scope="col" class="px-6 py-3">Roles</th>
                    <th scope="col" class="px-6 py-3">Vérifier</th>
                    <th scope="col" class="px-6 py-3">Nom</th>
                    <th scope="col" class="px-6 py-3">Prénom</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for user in usersInactif %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ user.id }}</th>
                    <th class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ user.email }}</th>
                    {% if user.roles[1] is defined %}
                        <td class="px-6 py-4">Vendeur</td>
                    {% else %}
                        <td class="px-6 py-4">Acheteur</td> 
                    {% endif %}
                    {% if user.isVerified == true %}
                        <td class="px-6 py-4">Vérifier</td>
                    {% else %}
                        <td class="px-6 py-4">Non Vérifier</td>
                    {% endif %}
                    <td class="px-6 py-4">{{ user.surname }}</td>
                    <td class="px-6 py-4">{{ user.name }}</td>
                    <td class="px-6 py-4 text-right"><a href="{{ path('details-user', {id: user.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Détails</a></td>
                </tr>
            {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="js-filter-pagination" id="pagination_box">
            {{ knp_pagination_render(usersInactif) }}
        </div>
    </div>
</div>
{% endblock %}
