{% extends 'layout/admin_base.html.twig' %}

{% block title %}Utilisateurs inactifs{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Utilisateurs inactifs</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="js-filter-pagination" id="pagination_box">
                    {{ knp_pagination_render(usersInactif) }}
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>E-mail</th>
                            <th>Rôles</th>
                            <th>Vérifié</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>E-mail</th>
                            <th>Rôles</th>
                            <th>Vérifié</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for user in usersInactif %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email|length > 20 ? user.email|striptags|slice(0, 20) ~ '...' : user.email }}</td>
                                {% if user.roles[1] is defined %}
                                    <td>Vendeur</td>
                                {% else %}
                                        <td>Acheteur</td> 
                                {% endif %}
                                {% if user.isVerified == true %}
                                    <td>Vérifié</td>
                                {% else %}
                                    <td>Non vérifié</td>
                                {% endif %}
                                <td>{{ user.surname }}</td>
                                <td>{{ user.name }}</td>
                                <td><a href="{{ path('details-user', {id: user.id}) }}" class="btn btn-primary">Détails</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Aucune donnée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="js-filter-pagination" id="pagination_box">
                    {{ knp_pagination_render(usersInactif) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
