{% block body %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404 Page no found</title>
    <meta name="viewport" content="width=device-width">
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
    {{ encore_entry_link_tags('app') }}

</head>
<body>
    <div class="glitch_word_box">
        <div class="line"></div>
        <h1 id="word" class="glitch_word0">404 - Page Inconnue</h1>
        <h1 id="word1" class="glitch_word1">404 - Page Inconnue</h1>
        <h1 id="word2" class="glitch_word2">404 - Page Inconnue</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a style="margin-top: 10rem" class="glitch_word0" href="{{ path('homepage') }}">Retour à l'accueil</a>
        <a style="margin-top: 10rem" class="glitch_word1" href="{{ path('homepage') }}">Retour à l'accuefesfsefsil</a>
        <a class="glitch_word2" style="margin-top: 10rem" href="{{ path('homepage') }}">Retour à l'</a>
    </div>
{{ encore_entry_script_tags('app') }}
</body>
</html>
{% endblock %}