{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="wrapform">
        <div id="contener_form">
            <form action="{{ path('app_login') }}" method="post">
                <h1 class="title_section_home">Connexion</h1>
                {% if error %}
                    <div class="bloc_form login">
                        <div class="form-error">
                            <p>L'email ou le mot de passe sont invalides.</p>
                        </div>
                    </div>
                {% endif %}
                <div class="bloc_form login">
                    <label for="username">Email :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>
                <div class="bloc_form login">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="_password"/>
                </div>
                <div class="forgot">
                    <a href="{{ path('app_reset_password') }}">Mot de passe oublié ?</a>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="bloc_form btn-custom login">
                    <span class="hover-effect">
                        <button type="submit">Se Connecter</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}