{% extends 'layout/front_base.html.twig' %}

{% block body %}
    <div class="wrapform">
        <div id="contener_form" class="big-margin">
            {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
            <h1 class="title_section_home">Modification du mot de passe</h1>
            <div class="bloc_form">
                {{ form_label(form.plainpassword.first) }}
                {{ form_widget(form.plainpassword.first) }}
            </div>
            <div class="bloc_form">
                {{ form_label(form.plainpassword.second) }}
                {{ form_widget(form.plainpassword.second) }}
            </div>
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
            <div class="bloc_form">
                <div class="bloc_form btn-custom btq">
                    <span class="hover-effect">
                    {{ form_widget(form.submit) }}
                    </span>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
