{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Formulaires') }}
{% endblock %}

{% block body %}
    <div class="wrapform  d-flex align-items-center">
        <div id="contener_form" style="width: 100%">
                {{ form_start(form, {attr : {novalidate: 'novalidate', class: 'security'}}) }}
                <h1 class="title_section_home">Modification du mot de passe</h1>
                <div class="bloc_form">
                    {{ form_label(form.plainpassword.first) }}
                    {{ form_widget(form.plainpassword.first) }}
                </div>
                <div class="bloc_form">
                    {{ form_label(form.plainpassword.second) }}
                    {{ form_widget(form.plainpassword.second) }}
                </div>
                <div class="form-error">
                    {{ form_errors(form.plainpassword.first) }}
                </div>
                <br>
                <div class="bloc_form">
                    <div class="bloc_form btn-custom">
                    <span class="hover-effect">
                    {{ form_widget(form.submit) }}
                    </span>
                    </div>
                </div>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Formulaires') }}
{% endblock %}