{% extends 'layout/front_base.html.twig' %}

{# MANQUE MESSAGE D ERREUR#}

{% block body %}
    <div class="body">
        <div id="contener_form">
            {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
            <h1>Modification du mot de passe</h1>
            <div class="bloc_form">
                {{ form_label(form.plainpassword.first) }}
                {{ form_widget(form.plainpassword.first) }}
            </div>
            <div class="bloc_form">
                {{ form_label(form.plainpassword.second) }}
                {{ form_widget(form.plainpassword.second) }}
            </div>
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
            <div class="bloc_form">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
