{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="wrapform security">
        <div id="contener_form">
            {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
                <h1>Mot de passe oublié</h1>
                {% if success %}
                    <div>
                        <p class="message_forgot">Un mail contenant le lien de validation vient de vous être envoyé.</p>
                        <p class="message_forgot"><a href="{{ path('homepage') }}" class="back_home">Retour à l'accueil</a></p>
                    </div>
                {% else %}
                    <div class="bloc_form">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        <small>{{ form_help(form.email) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="bloc_form btn-custom">
                        <span class="hover-effect">
                            {{ form_widget(form.submit) }}
                        </span>
                    </div>
                {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
