{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Formulaires') }}
{% endblock %}

{% block body %}
    <div class="wrapform">
        <div id="contener_form" class="d-flex flex-column align-items-center">
            {% if success %}
                <div class="security">
                    <p class="message_forgot">Un mail contenant le lien de validation vient de vous être envoyé.</p>
                    <p class="message_forgot" style="text-align: center">
                        <a href="{{ path('app_login') }}" class="back_home">Retour à la page de connexion</a>
                    </p>
                </div>
            {% else %}
                {{ form_start(form, {attr : {novalidate: 'novalidate', class: 'security'}}) }}
                <h1 class="title_section_home">Mot de passe oublié</h1>
                <div class="bloc_form">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        <small>{{ form_help(form.email) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="bloc_form btn-custom">
                        <span class="hover-effect">
                            {{ form_widget(form.submit) }}
                        </span>
                    </div>
                    {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Formulaires') }}
{% endblock %}