{% extends 'layout/front_base.html.twig' %}

{% block body %}
<div class="body">
    <div id="contener_form">

        {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
        <h1>Mot de passe oublié</h1>
        {% if success %}
        <div class="bloc_form">
            <p>Un mail contenant le lien de validation vient de vous être envoyé.</p><br>
            <a href="{{ path('homepage') }}">Retour à l'accueil</a>
        </div>
        {% else %}
        <div class="bloc_form">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}

            <small>{{ form_help(form.email) }}</small>

            <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="bloc_form">
            {{ form_widget(form.submit) }}
        </div>

    {{ form_end(form) }}
    {% endif %}
    </div>
</div>
{% endblock %}
