{% extends 'layout/front_profil_base.html.twig' %}

{% block title %}
    <title>Mon profil</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/flex/flexslider.css') }}" type="text/css">
{% endblock %}

{% block container %}
    <div class="wrap">
        <h1 class="title_top with_sub">Profil</h1>
        <h4 class="subtitle">{{ user.name|capitalize }} {{ user.surname|capitalize }}</h4>
        <div class="block_btn_modify plus">
            <div class="bloc_form btn-custom modify plus">
                <span class="hover-effect modify">
                    <a class="modif_user" title="Modifier mon profil" href="{{ path('edit_profil') }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </span>
            </div>
        </div>
        <div class="wrap border_form card-body">
            <div class="d-flex flex-column">
                <div class="card-body">
                    <div>
                        <h6 class="bold">Photo : </h6>
                        <div>
                            {% if user.image %}
                                <img class="user_img_profile" src="{{ asset('uploads/profile/'~user.image) }}" alt="image utilisateur">
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h6 class="detail_btq_title">Email :</h6>
                        {{ user.email  }}
                    </div>
                    <hr>
                    <div>
                        <h6 class="detail_btq_title">Prénom :</h6>
                        {{ user.name }}
                    </div>
                    <hr>
                    <div>
                        <h6 class="detail_btq_title">Nom :</h6>
                        {{ user.surname }}
                    </div>
                    <hr>
                    <a class="modif_psd user" href="{{ path('app_modif_password', {'id' : app.user.id, token : app.user.token }) }}">Modifier mon mot de passe</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}