{% extends 'layout/front_profil_base.html.twig' %}

{% block container %}
    <div class="card shadow mb-4 user_detail">
        <div class="card-header py-3  d-flex justify-content-between align-items-center">
            <h4 class="annonce_title">{{ user.name|capitalize }} {{ user.surname|capitalize }}</h4>
            <div>
                <a name="Modifier mon profil" class="btn btn-primary" href="{{ path('edit_profil', {'id' : user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        </div>
        <div class="card-body user_infos">
            <div>
                <h6 class="annonce_title">Photo: </h6>
                <div>
                    {% if user.image %}
                        <img src="{{ asset('uploads/profile/'~user.image) }}" alt="Images user" style=" width: 10%; border-radius: 50%">
                    {% endif %}
                </div>
            </div>
            <hr>
            <div>
                <h6 class="annonce_title">Email:</h6>
                {{ user.email  }}
            </div>
            <hr>
            <div>
                <h6 class="annonce_title">Prénom:</h6>
                {{ user.name }}
            </div>
            <hr>
            <div>
                <h6 class="annonce_title">Nom:</h6>
                    {{ user.surname }}
            </div>
            <hr>
            {# <a style="color: var(--orange)" href="{{ path('app_modif_password', {'id' : app.user.id, token : app.user.token }) }}">Modifier mon mot de passe</a> #}
        </div>
    </div>
{% endblock %}