{% extends 'layout/admin_base.html.twig' %}

{% block title %}Boutique détail{% endblock %}

{% block body %}
<div class="card mb-4">
    <div class="card-header d-flex"><p class="m-0 font-weight-bold text-primary">Titre de la boutique :&nbsp;</p><p>{{ boutique.title }}</p></div>
    <div class="card-body">
        <div class="description_card">
            <p><h6 class="m-0 font-weight-bold text-primary">Description : </h6>{{ boutique.description }}</p>
            <p><h6 class="m-0 font-weight-bold text-primary">Téléphone : </h6>{{ boutique.telephone }}</p>
            <p><h6 class="m-0 font-weight-bold text-primary">Adresse : </h6>{{ boutique.adress }}</p>
            <p><h6 class="m-0 font-weight-bold text-primary">Mise en ligne le : </h6>{{ boutique.createdAt|date('d/m/Y') }}</p>
            {% if boutique.actif %}
                <p><h6 class="m-0 font-weight-bold text-primary">Statut : </h6>Actif</p>
                <div>
                    <a href="{{ path('toggle_active_boutique', {id: boutique.id}) }}" class="btn btn-primary">Rendre inactive</a>
            {% else %}
                <p><h6 class="m-0 font-weight-bold text-primary">Statut : </h6>Inactif</p>
                <div>
                    <a href="{{ path('toggle_active_boutique', {id: boutique.id}) }}" class="btn btn-primary">Rendre active</a>
            {% endif %}
                <a href="{{ path('new_conversation_with_id_boutique', {id: boutique.user.id, id_boutique: boutique.id}) }}" class="btn btn-primary">Demander une modification</a>
                <a href="{{ path('details-user', {id: boutique.user.id}) }}" class="btn btn-primary">Voir l'utilisateur</a>
            </div>
        </div>
    </div>
</div>
<div class="m-t-20 m-b-20">
    {% if boutique.actif %}
        <a href="{{ path('all_boutiques_actives') }}" class="btn btn-primary width-100">Retour listing boutiques</a>
    {% else %}
        <a href="{{ path('all_boutiques_inactives') }}" class="btn btn-primary width-100">Retour listing boutiques</a>
    {% endif %}
</div>
{% endblock %}
