{% for annonce in annonces %}
    <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}">
        <div id="annonce_card" class="wrap">
            <div class="card">
                <h3 class="title_annonce">{{ annonce.title }}</h3>
                <div class="content-card ">
                    <div class="image-card flexslider slider-annonce">
                        <ul class="slides">
                            {% for image in annonce.imagesAnnonces %}
                                <li>
                                    <img src="{{ asset('uploads/annonce/'~image.title) }}" alt="Image Annonce"  style="max-height: 200px"/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="description-card">
                        <p><span>Description : </span>{{ annonce.description }}</p>
                        <p><span>Prix : </span>{{ annonce.price }} €</p>
                        <p><span>Type de produit : </span>{{ annonce.subcategory.title }}</p>
                        <p><span>Mis en ligne le : </span>{{ annonce.createdAt|date('d/m/Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endfor %}