{% block stylesheets %}
    <link href="{{ asset('bootstrap/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}

{{ form_start(form, {attr : {novalidate: 'novalidate', class : 'js-filter-form'}}) }}
    <div class="bloc_form d-flex">
            <div class="bloc_form location_box">
            {{ form_label(form.location) }}
            {{ form_widget(form.location) }}
            <small>{{ form_help(form.location) }}</small>
            <div class="form-error">
                {{ form_errors(form.location) }}
            </div>
        </div>
        <div class="bloc_form distance_box">
            {{ form_label(form.distance) }}
            {{ form_widget(form.distance) }}
            <small>{{ form_help(form.distance) }}</small>
            <div class="form-error">
                {{ form_errors(form.distance) }}
            </div>
        </div>
    </div>
    <ul id="city_suggest" class="hidden recherche_module"></ul>
    <div class="bloc_form">
        {{ form_label(form.q) }}
        {{ form_widget(form.q) }}
        <small>{{ form_help(form.q) }}</small>
        <div class="form-error">
            {{ form_errors(form.q) }}
        </div>
    </div>
    <div class="bloc_form d-flex">
        <div>
            {{ form_label(form.category) }}
            {{ form_widget(form.category, { 'attr' : {'class' : 'annonce_category' }}) }}
            <small>{{ form_help(form.category) }}</small>
            <div class="form-error">
                {{ form_errors(form.category) }}
            </div>
        </div>
        <div>
            {{ form_label(form.subcategory) }}
            {{ form_widget(form.subcategory, { 'attr' : {'class' : 'annonce_subcategory' }}) }}
            <small>{{ form_help(form.subcategory) }}</small>
            <div class="form-error">
                {{ form_errors(form.subcategory) }}
            </div>
        </div>
    </div>
    <div class="bloc_form d-flex">
        <div>
            {{ form_label(form.min) }}
            {{ form_widget(form.min) }}
            <small>{{ form_help(form.min) }}</small>
            <div class="form-error">
                {{ form_errors(form.min) }}
            </div>
        </div>
        <div>
            {{ form_label(form.max) }}
            {{ form_widget(form.max) }}
            <small>{{ form_help(form.max) }}</small>
            <div class="form-error">
                {{ form_errors(form.max) }}
            </div>
        </div>
    </div>
    <div id="price-slider" class="m-3" data-min="{{ min }}" data-max=" {{ max }}"></div>
    <div class="bloc_form d-flex justify-content-center align-items-center gap1">
        <div class="bloc_form btn-custom search">
            <span class="hover-effect search">
                <button>Rechercher</button>
            </span>
        </div>
        {% if app.request.query.get('q') is not null %}
        <div class="bloc_form btn-custom search">
            <span class="hover-effect del_filters">
                <a class="" href="{{ path('app_annonce_recherche') }}">Supprimer les filtres</a>
            </span>
        </div>
        {% endif %}
    </div>
{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('Formulaires') }}
{% endblock %}