<div class="body">
    <div class="wrap annonce_form">
        {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
        <div class="bloc_form">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            <small>{{ form_help(form.title) }}</small>
            <div class="form-error">
                {{ form_errors(form.title) }}
            </div>
        </div>

        <div class="bloc_form">

                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}

            <small>{{ form_help(form.description) }}</small>
            <div class="form-error">
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="bloc_form">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, { 'attr' : {'class' : 'annonce_category' }}) }}
            <small>{{ form_help(form.category) }}</small>
            <div class="form-error">
                {{ form_errors(form.category) }}
            </div>
        </div>

        <div class="bloc_form">
            {{ form_label(form.subcategory) }}
            {{ form_widget(form.subcategory, { 'attr' : {'class' : 'annonce_subcategory' }}) }}
            <small>{{ form_help(form.subcategory) }}</small>
            <div class="form-error">
                {{ form_errors(form.subcategory) }}
            </div>
        </div>

        <div class=" bloc_form d-flex" style="gap : 1rem">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column" style="width: 30%">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <small>{{ form_help(form.price) }}</small>
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>

            <div class="d-flex flex-column" style="width: 20%">
                {{ form_label(form.mesure) }}
                {{ form_widget(form.mesure) }}
            </div>
            <small>{{ form_help(form.mesure) }}</small>
            <div class="form-error">
                {{ form_errors(form.mesure) }}
            </div>
        </div>

        <div class="bloc_form">
            <div class="d-flex flex-column">
            {{ form_label(form.upload) }}
            {{ form_widget(form.upload) }}
            </div>
            <small>{{ form_help(form.upload) }}</small>
            <div class="form-error">
                {{ form_errors(form.upload) }}
            </div>
        </div>

        {# <div class="bloc_submit"> #}
            {# <button class="btn btn-primary">{{ button_label|default('C\'est parti !') }}</button> #}
            {# <div class="button_boutique"> #}
            <div class="bloc_form btn-custom btq">
                <span class="hover-effect btq">
                    <button>{{ button_label|default('C\'est parti !') }}</button>
                </span>
            </div>
            {# </div> #}
            {# </div> #}
        {# </div> #}
        {{ form_end(form) }}
    </div>
</div>