{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Modifier une annonce</title>
{% endblock %}

{% block body %}
    {# <div class="card-header py-3 d-flex justify-content-between align-items-center"> #}
        {# <h3 class="annonce_title" style="margin: 0">Modifier une annonce</h3> #}
        <h1 class="title_top" style="margin: 0">Modifier une annonce</h1>
<div class="card-body">

        <div class="block_btn_modify back">
            <div class="bloc_form btn-custom modify btq back" style="">
                <span class="hover-effect modify btq back">
                    {# <a title="Créer une annonce" class="" href="{{ path('app_annonce_new') }}"><i class="fa-solid fa-plus"></i></a> #}
                    <a title="Retour à la liste" class="" href="{{ path('app_annonce_index') }}"><i class="fa-solid fa-angles-left"></i></a>
                </span>
            </div>
            {{ include('front/annonce/_delete_form.html.twig') }}
        </div>
        {# <a title="Retour à la liste" class="btn btn-primary" href="{{ path('app_annonce_index') }}"><i class="fa-solid fa-angles-left"></i></a> #}
        {# {{ include('front/annonce/_delete_form.html.twig') }} #}
    {# </div> #}
    {# <div class="card-body"> #}
        {{ include('front/annonce/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
