{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Mes annonces</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('recherche_annonce') }}
{% endblock %}

{% block body %}
    <h1 class="title_top">Mes annonces</h1>
    <div class="grand_wrap">
        <div class="d-flex justify-content-between width-100 row-wrap">
            <div class="block_btn_modify plus">
                <div class="bloc_form btn-custom modify btq plus">
                    <span class="hover-effect modify btq">
                        <a title="Créer une annonce" href="{{ path('app_annonce_new') }}"><i class="fa-solid fa-plus"></i></a>
                    </span>
                </div>
            </div>
            {% for annonce in annonces %}
                <div class="annonce_box btq">
                    <div class="annonce_text">
                        <h5 class="annonce_title">{{ annonce.title }}&nbsp;&nbsp;<span class="span_created">Mis en ligne le {{ annonce.createdAt|date('d/m/Y') }}</span></h5>
                        <p class="annonce_type"><strong>Catégorie : </strong>{{ annonce.subcategory.parentCategory.title }}</p>
                        <p class="annonce_type"><span>Type de produit : </span>{{ annonce.subcategory.title }}</p>
                        <p class="annonce_price_btq">{{ annonce.price }}€/{{ annonce.mesure.title }}</p>
                    </div>
                    <div>
                    {% if annonce.actif == true %}
                        <div class="block_btn_modify">
                            <div class="bloc_form btn-custom modify btq">
                                <span class="hover-effect modify btq">
                                    <a title="Désactiver l'annonce" class="" href="{{ path('app_annonce_actif', {'id' : annonce.id}) }}" onclick="return confirm('Voulez-vous vraiment désactiver votre annonce ?')"><i class="fa-regular fa-eye"></i></a>
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="block_btn_inactive">
                            <div class="bloc_form btn-custom inactive">
                                <span class="hover-effect inactive">
                                    <a title="Activer l'annonce" href="{{ path('app_annonce_actif', {'id' : annonce.id}) }}"><i class="fa-regular fa-eye-slash"></i></a>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="block_btn_modify">
                        <div class="bloc_form btn-custom modify btq">
                            <span class="hover-effect modify btq">
                                <a title="Modifier l'annonce" class="" href="{{ path('app_annonce_edit', {'id' : annonce.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            </span>
                        </div>
                    </div>
                    <span title="Supprimer l'annonce">{{ include('front/annonce/_delete_form.html.twig') }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}