{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
<title>Mes annonces</title>
{% endblock %}

{% block body %}
<div class="card-header py-3 d-flex justify-content-between align-items-center">
    <h3 class="annonce_title" style="margin: 0">Mes annonces</h3>
    <a title="Créer une annonce" class="btn btn-primary" href="{{ path('app_annonce_new') }}"><i class="fa-solid fa-plus"></i></a>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Catégories</th>
                <th>Prix</th>
                <th>Créée le</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if annonces is empty %}
                <tr>
                    <td colspan="6">
                        Pas (encore) d'annonces !
                    </td>
                </tr>
            {% endif %}
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.title }}</td>
                    <td>{{ annonce.subcategory.title }}</td>
                    <td>{{ annonce.price }} €</td>
                    <td>{{ annonce.createdAt|date('Y-m-d') }}</td>
                    <td>
                        {% if annonce.actif == 1 %}
                            <a title="Désactiver l'annonce" class="btn btn-primary" href="{{ path('app_annonce_actif', {'id' : annonce.id}) }}" onclick="return confirm('Voulez vous vraiment désactiver votre annonce?')"><i class="fa-regular fa-eye"></i></a>
                        {% else %}
                            <a title="Activer l'annonce" class="btn btn-warning" href="{{ path('app_annonce_actif', {'id' : annonce.id}) }}"><i class="fa-regular fa-eye-slash"></i></a>
                        {% endif %}
                    </td>
                    <td class="table_actions" >
                        <a title="Modifier l'annonce" class="btn btn-primary" href="{{ path('app_annonce_edit', {'id' : annonce.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span title="Supprimer l'annonce">{{ include('front/annonce/_delete_form.html.twig') }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}