{% extends 'layout/boutique_base.html.twig' %}
{% block title %}
    <title>Boutiques favorites</title>
{% endblock %}

{% block body %}
<div id="container_profil">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h3 class="annonce_title" style="margin: 0">Mes boutiques favorites</h3>
    </div>
    <div class="container_favory">
        <ul>
            {% for fav in favories %}
                <li>
                    <div class="block_favory">
                        <h4>{{ fav.boutique.title }}</h4>
                        <p>La boutique de {{ fav.boutique.user.name|capitalize }}</p>
                        <p>Boutique en ligne depuis le : {{ fav.boutique.createdAt|date('d/m/Y') }}</p>
                        <div class="block_rating">
                            {% for key, globalRating in totalGlobalRating %}
                                {# {% if key == fav.boutique.id %} #}
                                    <span class="rating" data-rating="{{ globalRating }}">
                                        {% for i in 1..5 %}
                                            {% if i <= globalRating %}
                                                <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                            {% else %}
                                                <i class="fa-solid fa-star" data-checked="false" data-note="{{ i }}"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    {% for key, nbr in totalNumberAvis %}
                                        {% if key == fav.boutique.id %}
                                            <span>({{ nbr }} avis)</span>
                                        {% endif %}
                                    {% endfor %}
                                {# {% endif %} #}
                            {% endfor %}
                        </div>
                        <div class="block_buttons">
                        <div class="btn_favory">
                            {# <a class="btn btn-primary" href="{{ path('view_boutique', {id: fav.boutique.id}) }}">Voir la boutique</a> #}

                            <div class="bloc_form btn-custom">
                                <span class="hover_effect">
                                    {# <button type="submit">Voir ma boutique</button> #}
                                    <a class="" href="{{ path('view_boutique', {id: fav.boutique.id}) }}">Voir la boutique</a>
                                </span>
                            </div>

                            {# <div class="bloc_form btn-custom supp">
                                <span class="hover_effect supp">
                                    <a class="" href="{{ path('view_boutique', {id: fav.boutique.id}) }}">X</a>
                                </span>
                            </div> #}

                            <span class="delete_favory" title="Retirer des favoris">
                            {{ include('front/boutique/favorites/_delete_form.html.twig') }}
                            </span>

                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="js-filter-pagination" id="pagination_box">
            {{ knp_pagination_render(favories) }}
        </div>
    </div>
</div>
{% endblock %}
