<section id="avis_boutique" class="wrap">
    {% if avis %}
        <h1  id="avis_listing" class="boutique_title title">Les avis</h1>
        <ul>
            {% for av in avis %}
                <li class="avis_box">
                    <div class="avis_image d-flex ">
                        {% if av.user.image %}
                            <img src="{{ asset('uploads/profile/')~av.user.image }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                        {% else %}
                            <img src="{{ asset('images/default-profile-picture.jpg') }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                        {% endif %}
                        <span style="margin: auto .5rem">{{ av.user.name|capitalize }}</span>
                    </div>
                    <br>
                    <div data-rating="{{ globalRating }}">
                        {% for i in 1..5 %}
                            {% if i <= av.rating %}
                                <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                            {% else %}
                                <i class="fa-regular fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                            {% endif %}
                        {% endfor %}
                        <span>{{ av.title }}</span>
                    </div>
                    <div><i>Avis émis le {{ av.createdAt|date('d m Y')  }}</i> </div>
                    <br>
                    <div> {{ av.commentaire  }} </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2 class="boutique_title title"> Laissez votre avis</h2>
    <div class="avis_form">
        {% if app.user %}
            {% for av in avis %}
                {% if av.user.id == app.user.id %}
                    {% set avisAlreadyExist = true %}
                    <div style="text-align: center">
                        <p>Vous avez déja donné votre avis sur cette boutique! </p>
                        <p>Vous pouvez le modifier dans la section 'Avis' de votre profil.</p>
                    </div>
                {% endif %}
            {% endfor %}

            {% if avisAlreadyExist == false and app.user.id != boutique.user.id %}
                <div>
                    {% include 'front/boutique/avis/_form.html.twig' %}
                </div>
            {% elseif app.user.id == boutique.user.id %}
                <div style="text-align: center">
                    <p>Vous ne pouvez pas donner un avis sur votre propre boutique.</p>
                </div>
            {% endif %}
        {% else %}
            <div style="text-align: center">
                <a class="connect-link" href="{{ path('app_login') }}">Connectez-vous</a><span> pour donner votre avis !</span>
            </div>
        {% endif %}
    </div>
</section>