{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Avis reçus</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('avis_boutique') }}
{% endblock %}

{% block body %}
    <div id="container_profil">
        <div class="wrap2">
            <h1 class="title_top">Avis reçus</h1>
            <div class="container_avis">
                {% if mesAvis|length > 0 %}
                    <ul>
                        {% for avi in mesAvis %}
                            <li class="recus">
                                <div class="block_avis recus">
                                    <div>
                                        {% set user = avi.user %}
                                        {% include '_partials/_photo_profile.html.twig' %}
                                        <span class="user_name_avis">{{ avi.user.name|capitalize }}</span>
                                    </div>
                                    <div>
                                        {% for i in 1..5 %}
                                            {% if i <= avi.rating %}
                                                <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                            {% else %}
                                                <i class="fa-regular fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                            {% endif %}
                                        {% endfor %}
                                        <span><strong>&nbsp;&nbsp;{{ avi.title }}</strong></span>
                                    </div>
                                    <div> {{ avi.commentaire  }} </div>
                                    <div><i>Avis émis le {{ avi.createdAt|date('d/m/Y')  }}</i> </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="js-filter-pagination" id="pagination_box">
                        {{ knp_pagination_render(mesAvis) }}
                    </div>
                {% else %}
                    <h3 class="text-center mess">Vous n'avez pas reçu d'avis</h3>
                    <div class="security"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('avis_boutique') }}
{% endblock %}