{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Avis émis</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('avis_boutique') }}
{% endblock %}

{% block body %}
<div id="container_profil">
    <div class="wrap_avis">
        <h1 class="title_top">Avis émis</h1>
        <div class="container_avis">
        {% if mesAvis|length > 0 %}
            <ul>
                {% for avi in mesAvis %}
                    <li>
                        <div class="block_avis">
                            <div>
                                {% if avi.user.image %}
                                    {% include '_partials/_photo_profile.html.twig' %}
                                {% endif %}
                                <span class="user_name_avis">{{ avi.user.name|capitalize }}</span>
                            </div>
                            <div>
                                {% for i in 1..5 %}
                                    {% if i <= avi.rating %}
                                        <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                    {% else %}
                                        <i class="fa-regular fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                    {% endif %}
                                {% endfor %}
                                <span><strong>&nbsp&nbsp{{ avi.title }}</strong></span>
                                <p class="p_avis"><i>Avis émis le {{ avi.createdAt|date('d/m/Y') }}</i></p>
                            </div>
                            <div class="avis_comm"> {{ avi.commentaire }} </div>
                            <div class="block_buttons avis">
                                <div class="bloc_form btn-custom btq avis">
                                    <span class="hover-effect btq avis">
                                        <a href="{{ path('app_avis_edit', {id: avi.id}) }}">Modifier</a>
                                    </span>
                                </div>
                                <span class="avis" title="Supprimer l'avis">{{ include('front/boutique/avis/_delete_form.html.twig') }}</span>
                            </div>
                        </div>
                        <div class="separator right"><i class="fa-solid fa-arrow-right"></i></div>
                        <div class="separator down"><i class="fa-solid fa-arrow-down"></i></div>
                        <div class="block_boutique">
                            <div>
                                <div>
                                    {% set user = avi.boutique.user %}
                                    {% include '_partials/_photo_profile.html.twig' %}
                                    <span class="user_name_avis">{{ avi.boutique.user.surname|capitalize }}</span>
                                </div>
                                <div>
                                    <p><strong>{{ avi.boutique.title }}</strong></p>
                                    <span><i>Boutique en ligne depuis le {{ avi.boutique.createdAt|date('d/m/Y') }}</i></span>
                                </div>
                            </div>
                            <div>
                                <div>
                                    {% for key, globalRating in totalGlobalRating %}
                                        {% if key == avi.boutique.id %}
                                            <span class="rating" data-rating="{{ globalRating }}">
                                                {% for i in 1..5 %}
                                                    {% if i <= globalRating|round %}
                                                        {% if (i - globalRating) > 0  %}
                                                            <i class="fa-solid fa-star-half-stroke favory" data-checked="false" data-note="{{ i }}"></i>
                                                        {% else %}
                                                            <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                                        {% endif %}
                                                    {% else %}
                                                        <i class="fa-regular fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                            {% for key, nbr in totalNumberAvis %}
                                                {% if key == avi.boutique.id %}
                                                    <span>({{ nbr }} avis)</span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="bloc_form btn-custom btq avis">
                                <span class="hover-effect btq">
                                    <a href="{{ path('view_boutique', {id: avi.boutique.id}) }}">Voir la boutique</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <div class="separator_btq"></div>
                {% endfor %}
            </ul>
            <div class="js-filter-pagination" id="pagination_box">
                {{ knp_pagination_render(mesAvis) }}
            </div>
        {% else %}
            <h3 class="text-center mess">Vous n'avez pas émis d'avis</h3>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('avis_boutique') }}
{% endblock %}