{% extends 'layout/boutique_base.html.twig' %}
{% block title %}
    <title>Avis reçus</title>
{% endblock %}

{% block body %}
<div id="container_profil">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h3 class="annonce_title" style="margin: 0">Avis reçus</h3>
    </div>
    <div class="container_avis">
        {% if mesAvis %}
            <ul>
                {% for avi in mesAvis %}
                    <li>
                        <div class="block_avis">
                            <div>
                                {% if avi.user.image %}
                                    <img src="{{ asset('uploads/profile/')~avi.user.image }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                                {% else %}
                                    <img src="{{ asset('images/default-profile-picture.jpg') }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                                {% endif %}
                                <span style="margin: auto .5rem">{{ avi.user.name|capitalize }}</span>
                            </div>
                            <div>
                                {% for i in 1..5 %}
                                    {% if i <= avi.rating %}
                                        <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                    {% else %}
                                        <i class="fa-solid fa-star" data-checked="false" data-note="{{ i }}"></i>
                                    {% endif %}
                                {% endfor %}
                                <span>{{ avi.title }}</span>
                            </div>
                            <div><i>Avis émis le {{ avi.createdAt|date('d m Y')  }}</i> </div>
                            <div> {{ avi.commentaire  }} </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="js-filter-pagination" id="pagination_box">
                {{ knp_pagination_render(mesAvis) }}
            </div>
        {% else %}
            <h2>Vous n'avez reçu d'avis.</h2>        
        {% endif %}
    </div>
</div>
{% endblock %}
