{% extends 'layout/boutique_base.html.twig' %}
{% block title %}
<title>Avis émis</title>
{% endblock %}

{% block body %}
<div id="container_profil">
    <div class="wrap2">

    {# <div class="card-header py-3 d-flex justify-content-between align-items-center"> #}
        {# <h3 class="annonce_title" style="margin: 0">Avis émis</h3> #}
        <h1 class="title_top" style="margin: 0">Avis émis</h1>
    {# </div> #}
    
    <div class="container_avis">
        {% if mesAvis %}
            <ul>
                {% for avi in mesAvis %}
                    <li>
                        <div class="block_avis">
                            <div>
                                {% if avi.user.image %}
                                    <img src="{{ asset('uploads/profile/')~avi.user.image }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                                {% else %}
                                    <img src="{{ asset('images/default-profile-picture.jpg') }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                                {% endif %}
                                <span style="margin: auto .5rem">{{ avi.user.name|capitalize }}</span>
                            </div>
                            <div>
                                {% for i in 1..5 %}
                                    {% if i <= avi.rating %}
                                        <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                    {% else %}
                                        <i class="fa-regular fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                    {% endif %}
                                {% endfor %}
                                {# <span>{{ avi.title }}</span>
                            <span>&nbsp&nbsp/&nbsp&nbsp<i>Avis émis le {{ avi.createdAt|date('d/m/Y')  }}</i></span> #}
                            <span><strong>&nbsp&nbsp{{ avi.title }}</strong></span>
                            </div>
                            
                            {# <div><i>Avis émis le {{ avi.createdAt|date('d m Y')  }}</i> </div> #}
                            <div> {{ avi.commentaire  }} </div>
                            <span><i>Avis émis le {{ avi.createdAt|date('d/m/Y')  }}</i></span>
                            <div class="block_buttons avis">

                            <div class="bloc_form btn-custom btq avis">
                                <span class="hover-effect btq avis">

                                <a class="" href="{{ path('app_avis_edit', {id: avi.id}) }}">Modifier</a>

                                </span>
                            </div>

                            
                                <span class="avis" title="Supprimer l'avis" style="display: block;">{{ include('front/boutique/avis/_delete_form.html.twig') }}</span>

                                

                            </div>
                        </div>
                        <div class="separator"><i class="fa-solid fa-arrow-right"></i></div>
                        <div class="block_boutique">
                            <div>
                                {% if avi.boutique.user.image %}
                                    <img src="{{ asset('uploads/profile/')~avi.boutique.user.image }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                                {% else %}
                                    <img src="{{ asset('images/default-profile-picture.jpg') }}" alt="" style="width: 33px;height: 33px;border-radius: 50%">
                                {% endif %}
                                <span style="margin: auto .5rem">{{ avi.boutique.user.name|capitalize }}</span>
                            </div>
                            <p><strong>{{ avi.boutique.title }}</strong></p>
                            <p>Boutique en ligne depuis le : {{ avi.boutique.createdAt|date('d/m/Y') }}</p>
                            <div>
                                {% for key, globalRating in totalGlobalRating %}
                                    {% if key == avi.boutique.id %}
                                        <span class="rating" data-rating="{{ globalRating }}">
                                            {% for i in 1..5 %}
                                                {% if i <= globalRating %}
                                                    <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                                {% else %}
                                                    <i class="fa-solid fa-star" data-checked="false" data-note="{{ i }}"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        {% for key, nbr in totalNumberAvis %}
                                            {% if key == avi.boutique.id %}
                                                <span>({{ nbr }} avis)</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="bloc_form btn-custom btq avis">
                                <span class="hover-effect btq">

                            <a class="" href="{{ path('view_boutique', {id: avi.boutique.id}) }}">Voir la boutique</a>

                                </span>
                            </div>

                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="js-filter-pagination" id="pagination_box">
                {{ knp_pagination_render(mesAvis) }}
            </div>
        {% else %}
            <h1>Vous n'avez pas émis d'avis.</h1>        
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
