{% extends 'layout/boutique_base.html.twig' %}
{% block title %}
    <title>Modifier mon avis</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('avis_boutique') }}
    {{ encore_entry_link_tags('Formulaires') }}
{% endblock %}

{% block body %}
    <h1 class="title_top">Modifier mon avis</h1>
    <div class="card-body wrap">
        <div class="block_btn_modify back">
            <div class="bloc_form btn-custom modify btq back">
                <span class="hover-effect modify btq back">
                    <a title="Retour à la liste" href="{{ path('app_avis_sent') }}"><i class="fa-solid fa-angles-left"></i></a>
                </span>
            </div>
            {{ include('front/boutique/avis/_delete_form.html.twig') }}
        </div>
        {{ include('front/boutique/avis/_form.html.twig', {'button_label': 'Modifier mon avis'}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('avis_boutique') }}
{% endblock %}

