{% extends 'layout/admin_base.html.twig' %}

{% block title %}
    <title>Annonce détails</title>
{% endblock %}

{% block body %}
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 p-20">
    <div class="card">
        <h3 class="title">{{ annonce.title }}</h3>
        <div class="image-card">
            <img src="{{ asset('asset/images/logo-paul.svg') }}"/>
        </div>
        <div class="description-card">
            <p><span>Description : </span>{{ annonce.description }}</p>
            <p><span>Prix : </span>{{ annonce.price }} €</p>
            <p><span>Mis en ligne le : </span>
            {# {{ annonce.createdAt|format_datetime('full', 'full', locale='fr') }} #}
            </p>
            {% if annonce.actif %}
                <p><span>Status : </span>Actif</p>
                <a href="{{ path('disable-annonce', {id: annonce.id}) }}">Rendre inactif</a>
            {% else %}
                <p><span>Status : </span>Inactif</p>
                <a href="{{ path('active-annonce', {id: annonce.id}) }}" class="action">Rendre actif</a>
            {% endif %}
        </div>
    </div>
    
    {# <a href="{{ path('', {id: annonce.id}) }}">Envoyer message d'avertissement</a> #}
    
</div>
{% endblock %}
