{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="wrapform">
        <div id="contener_form">
            {{ form_start(registrationForm, {attr : {novalidate: 'novalidate'}}) }}
                <h1 class="title_section_home">Inscription</h1>
                <div class="bloc_form register">
                    {{ form_label(registrationForm.surname) }}
                    {{ form_widget(registrationForm.surname) }}
                    <small>{{ form_help(registrationForm.surname) }}</small>
                    <div class="form-error">
                        {{ form_errors(registrationForm.surname) }}
                    </div>
                </div>
                <div class="bloc_form register">
                    {{ form_label(registrationForm.name) }}
                    {{ form_widget(registrationForm.name) }}
                    <small>{{ form_help(registrationForm.name) }}</small>
                    <div class="form-error">
                        {{ form_errors(registrationForm.name) }}
                    </div>
                </div>
                <div class="bloc_form register">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    <small>{{ form_help(registrationForm.email) }}</small>
                    <div class="form-error">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                </div>
                <div class="bloc_form register">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first) }}
                    <small>{{ form_help(registrationForm.plainPassword) }}</small>
                    <div class="form-error">
                        {{ form_errors(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>
                </div>
                <div class="bloc_form register">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second) }}
                    <small>{{ form_help(registrationForm.plainPassword) }}</small>
                    <div class="form-error">
                        {{ form_errors(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>
                </div>
                <div class="bloc_form register">
                    {{ form_label(registrationForm.role) }}
                    {{ form_widget(registrationForm.role, {attr : {class :  'radio_box '}}) }}
                    <small>{{ form_help(registrationForm.role) }}</small>
                    <div class="form-error">
                        {{ form_errors(registrationForm.role) }}
                    </div>
                </div>
                <div class="bloc_form register">
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                    <small>{{ form_help(registrationForm.agreeTerms) }}</small>
                    <div class="form-error">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                </div>
                <div class="bloc_form btn-custom">
                    <span class="hover-effect">
                        {{ form_widget(registrationForm.submit) }}
                    </span>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('register') }}
{% endblock %}