{% block stylesheets %}
    <link href="{{ asset('bootstrap/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}
<div class="body">
    <div class="wrap boutique_form">
        {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
        <div class="bloc_form">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}

            <small>{{ form_help(form.title) }}</small>

            <div class="form-error">
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div class="bloc_form">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}

            <small>{{ form_help(form.description) }}</small>

            <div class="form-error">
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="bloc_form d-flex " style="gap: 2rem">
            {% if app.request.attributes.get('_route') == 'app_boutique_new'%}
                <div style="width: 10%">
                    {{ form_label(form.indicatif) }}
                    {{ form_widget(form.indicatif) }}

                    <small>{{ form_help(form.indicatif) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.indicatif) }}
                    </div>
                </div>
            {% else %}
                <div style="display: none">
                    {{ form_label(form.indicatif) }}
                    {{ form_widget(form.indicatif) }}

                    <small>{{ form_help(form.indicatif) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.indicatif) }}
                    </div>
                </div>
            {% endif %}

            <div>
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone) }}

                <small>{{ form_help(form.telephone) }}</small>

                <div class="form-error">
                    {{ form_errors(form.telephone) }}
                </div>
            </div>
        </div>

        <div class="bloc_form">
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse) }}

            <small>{{ form_help(form.adresse) }}</small>

            <div class="form-error">
                {{ form_errors(form.adresse) }}
            </div>
        </div>

        <div class="bloc_form">
            {{ form_label(form.postcode) }}
            {{ form_widget(form.postcode, {attr : {style: '-moz-appearance: textfield'}}) }}

            <small>{{ form_help(form.postcode) }}</small>

            <div class="form-error">
                {{ form_errors(form.postcode) }}
            </div>
        </div>

        <div class="bloc_form">
            <label class="control-label" for="boutique_city">Ville</label>
            <select class="form-control" name="" id="boutique_city" >
                <option value="">Veuillez renseigner votre code postal.</option>
            </select>

            <small>{{ form_help(form.adresse) }}</small>

            <div class="form-error">
                {{ form_errors(form.adresse) }}
            </div>
        </div>


        {% if app.request.attributes.get('_route')  == 'app_boutique_edit' %}
            <div class="bloc_form">
                {{ form_label(form.upload) }}
                <br>
                {{ form_widget(form.upload) }}
                <br>
                <small>{{ form_help(form.upload) }}</small>
                <br>
                <div class="form-error">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="bloc_submit mb-5">
            <button class="btn btn-primary">{{ button_label|default('C\'est parti !') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
