{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('C\'est parti !') }}</button>
{{ form_end(form) }}
