{% block stylesheets %}
    <link href="{{ asset('bootstrap/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}
<div class="body">
    <div id="contener_form" class="custom">
        <div class="wrap boutique_form border_form">
            {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
            <div class="bloc_form">
                <h5 class="subtitle">Les informations de votre boutique</h5>
                <p>Seuls les champs marqués d'un <span> *</span> sont obligatoires.</p>
            </div>
            <div id="form_upload" class="bloc_form create">
                {{ form_label(form.upload) }}
                {{ form_widget(form.upload) }}
                <small>{{ form_help(form.upload) }}</small>
                <div class="form-error">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="bloc_form create">
                <div class="required">
                    {{ form_label(form.title) }}<span>&nbsp*</span>
                </div>
                {{ form_widget(form.title) }}
                <small>{{ form_help(form.title) }}</small>
                <div class="form-error">
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="bloc_form create">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <small>{{ form_help(form.description) }}</small>
                <div class="form-error">
                    {{ form_errors(form.description) }}
                </div>
            </div>
            <div class="bloc_form create tel">
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone) }}
                <small>{{ form_help(form.telephone) }}</small>
                <div class="form-error">
                    {{ form_errors(form.telephone) }}
                </div>
            </div>
            <div class="bloc_form create explain">
                <h3>Votre adresse</h3>
                <p>Une adresse complète permet une meilleure visibilité pour vos annonces.</p>
                <p>Votre adresse permet aux utilisateurs de situer votre boutique sur votre page publique.</p>
                <p>Vous pouvez désactiver la carte de votre page dans l'onglet <i>'Gérer ma boutique'</i> puis <i>'Mes préférences'</i>.</p>
            </div>
            <div class="bloc_form bloc_adresse">
                <div class="bloc_form create adress_form">
                    {{ form_label(form.adress) }}
                    {{ form_widget(form.adress) }}
                    <small>{{ form_help(form.adress) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.adress) }}
                    </div>
                </div>
                <div class="bloc_form create city_search">
                    <div class="required">
                        {{ form_label(form.search) }}<span>&nbsp*</span>
                    </div>
                    {{ form_widget(form.search) }}
                    <small>{{ form_help(form.search) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.search) }}
                        {{ form_errors(form.city) }}
                    </div>
                    <ul id="city_suggest" class="hidden"></ul>
                </div>
            </div>
            <div class="bloc_form btn-custom btq">
                <span class="hover-effect btq">
                    <button>{{ button_label|default('C\'est parti !') }}</button>
                </span>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
