{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Boutique</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Flexslider') }}
{% endblock %}

{% block body %}
    <div class="wrap">
        <h1 class="title_top">  {{ boutique.title }} </h1>
        <div class="block_buttons">
            <div class="block_btn_modify">
                <div class="bloc_form btn-custom modify btq">
                    <span class="hover-effect modify btq">
                        <a title="Modifier ma boutique" href="{{ path('app_boutique_edit') }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </span>
                </div>
            </div>
            {% if boutique.actif == 1 %}
                <div class="block_btn_modify">
                    <div class="bloc_form btn-custom modify btq">
                        <span class="hover-effect modify btq">
                            <a title="Désactiver la boutique" class="" href="{{ path('app_boutique_actif') }}" onclick="return confirm('Voulez-vous vraiment désactiver votre boutique ?')"><i class="fa-regular fa-eye"></i></a>
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="block_btn_inactive">
                    <div class="bloc_form btn-custom inactive">
                        <span class="hover-effect inactive">
                            <a title="Activer la boutique" href="{{ path('app_boutique_actif') }}"><i class="fa-solid fa-eye-slash"></i></a>
                        </span>
                    </div>
                </div>
            {% endif %}
            {{ include('front/boutique/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="boutique_accueil">
        <div class="wrap border_form card-body">
            <div class="d-flex flex-column">
                <h6 class="bold">Photos : </h6>
                {% include '_partials/_images_boutique.html.twig' %}
            </div>
            <hr>
            <div class="d-flex flex-column">
                <h6 class="bold">Description :</h6>
                {{ boutique.description  }}
            </div>
            <hr>
            <div class="d-flex flex-column">
                <h6 class="bold">Téléphone :</h6>
                {{ boutique.telephone }}
            </div>
            <hr>
            <div class="d-flex flex-column">
                <h6 class="bold">Adresse:</h6>
                <div class="d-flex flex-column">
                    <ul class="text-align-center">
                        {% if boutique.adress %}
                            <li>{{ boutique.adress }}</li>
                        {% endif %}
                        <li>{{ boutique.postcode }} {{ boutique.city }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Flexslider') }}
{% endblock %}
