{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
<title>Boutique</title>
{% endblock %}

{% block body %}
{# <div class="card shadow mb-4 boutique_detail">
    <div class="card-header py-3  d-flex justify-content-between align-items-center">
        <h4 class="annonce_title">{{ boutique.title }}</h4> #}

<div class="boutique_accueil">
    <div class="wrap2">
        <h1 class="title_top">  {{ boutique.title }} </h1>

        <div class="block_buttons">
        {# Bouton d'origine #}
            {# <a title="Modifier ma boutique" class="btn btn-primary" href="{{ path('app_boutique_edit', {'id' : boutique.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> #}

        {# Test bouton custom #}
            <div class="block_btn_modify">
                <div class="bloc_form btn-custom modify">
                    <span class="hover_effect modify">
                        <a title="Modifier ma boutique" class="" href="{{ path('app_boutique_edit', {'id' : boutique.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </span>
                </div>
            </div>
            {% if boutique.actif == 1 %}
                {# <a title="Désactiver la boutique" class="btn btn-primary" href="{{ path('app_boutique_actif', {'id' : boutique.id}) }}" onclick="return confirm('Voulez vous vraiment désactiver votre boutique?')"><i class="fa-regular fa-eye"></i></a> #}
                <div class="block_btn_modify">
                <div class="bloc_form btn-custom modify">
                    <span class="hover_effect modify">
                        <a title="Désactiver la boutique" class="" href="{{ path('app_boutique_actif', {'id' : boutique.id}) }}" onclick="return confirm('Voulez vous vraiment désactiver votre boutique ?')"><i class="fa-regular fa-eye"></i></a>
                    </span>
                </div>
            </div>
            {% else %}
                {# <a title="Activer la boutique" class="btn btn-warning" href="{{ path('app_boutique_actif', {'id' : boutique.id}) }}"><i class="fa-regular fa-eye-slash"></i></a> #}
                <div class="block_btn_inactive">
                    <div class="bloc_form btn-custom inactive">
                        <span class="hover_effect inactive">
                            <a title="Activer la boutique" class="" href="{{ path('app_boutique_actif', {'id' : boutique.id}) }}"><i class="fa-solid fa-eye-slash"></i></a>
                        </span>
                    </div>
                </div>
            {% endif %}
            {{ include('front/boutique/_delete_form.html.twig') }}
        </div>

    </div>
    <div class="card-body boutique_infos">
        <div class="d-flex flex-column">
            <h6 class="annonce_title">Photo : </h6>
            {%  for imageboutique in boutique.imagesBoutiques %}
                    <img src="{{ asset('uploads/boutique/imageBoutiqueDefault.jpg') }}" alt="Images boutique">
            {% endfor %}
        </div>
        <hr>
        <div class="d-flex flex-column">
            <h6 class="annonce_title">Description:</h6>
            {{ boutique.description  }}
        </div>
        <hr>
         <div class="d-flex flex-column">
            <h6 class="annonce_title">Téléphone:</h6>
             {{ boutique.telephone }}
        </div>
        <hr>
         <div class="d-flex flex-column">
             <h6 class="annonce_title">Adresse:</h6>
             <div class="d-flex flex-column">
                 <ul class="text-align-center">
                     <li>{{ boutique.adress }}</li>
                     <li>{{ boutique.postcode }} {{ boutique.city }}</li>
                 </ul>
             </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('back-boutique') }}
{% endblock %}
