{% extends 'layout/front_base.html.twig' %}

{% block title %}
    Création de la boutique
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Formulaires') }}
    {{ encore_entry_link_tags('back_boutique') }}
{% endblock %}

{% block body %}
    <div class="wrap container-fluid custom">
        <h1 class="title_top">Création de la boutique</h1>
        {{ include('front/boutique/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Formulaires') }}
    {{ encore_entry_script_tags('back_boutique') }}
{% endblock %}