{% extends 'layout/front_base.html.twig' %}

{% block title %}
    {% if annonce == null %}
        {{  boutique.title }}
    {% else %}
        {{  annonce.title }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('flexslider') }}
{% endblock %}

{% block body %}
    <section id="slider-home">
        <div class="flexslider" id="slider">
            <ul class="slides relative">
                {% for imageBoutique in boutique.imagesBoutiques %}
                    <li>
                        <img src="{{ asset('uploads/boutique/' ~ imageBoutique.title) }}" />
                    </li>
                {% endfor %}
                {# <li>
                    <img src="{{ asset('uploads/boutique/imageBoutiqueDefault.jpg') }}" />
                </li> #}
            </ul>
        </div>
        <div class="photo_profile">
            <a href="{{ path('view_boutique', {id: boutique.id}) }}">
            {# <img src="{{ asset('images/incognito.png') }}" /> #}
            <img src="{{ asset('images/incognito-big.png') }}" />
            {# <img src="{{ asset('images/test-profile.png') }}" /> #}
            </a>
        </div>
    </section>

    <section id="profile" class="wrap">
        <div class="infos_vendeur">
            <p>{{ boutique.user.name|capitalize }}  |</p>
            <p>Boutique en ligne depuis le : {{ boutique.createdAt|date('d/m/Y') }}</p>
        </div>
    </section>

    <section id="boutique" class="wrap">
        <div class="infos_boutique">
            <div class="d-flex" style="justify-content: space-between; align-items: center">
                <div>
                    <h1 class="title_boutique title"><a href="{{ path('view_boutique', {id: boutique.id}) }}">{{ boutique.title }}</a></h1>
                </div>
                {% if app.user and notMyboutique %}
                    <div class="favory_boutique">
                        <a class="favory_button {{ favory }}" href="{{ path('app_toggle_favory', {'id' : boutique.id}) }}"><i class="favory_icon fa-solid fa-heart" ></i></a>
                    </div>
                {% endif %}
            </div>
            {% if annonce == null %}
            <div class="rating_boutique">
                <a href="#avis_listing">
                    <span class="rating" data-rating="{{ globalRating }}">
                        {% for i in 1..5 %}
                            {% if i <= globalRating|round %}
                                {% if (i - globalRating) > 0  %}
                                    <i class="fa-solid fa-star-half-stroke favory" data-checked="false" data-note="{{ i }}"></i>
                                {% else %}
                                    <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                {% endif %}
                            {% else %}
                                <i class="fa-regular fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                            {% endif %}
                        {% endfor %}
                    </span>
                </a>
                <span>({{ avis|length }} avis)</span>
            </div>
            <p class="description_boutique">{{ boutique.description }}</p>
            {% endif %}
        </div>
    </section>

    {% if annonce == null and boutique.cardActive %}
        {% if boutique.adress == '' %}
            {% set fullAdress = 'false' %}
        {% else %}
            {% set fullAdress = 'true' %}
        {% endif %}
        <section class="wrap">
            <h1 class="boutique_title title">Où me trouver?</h1>
        {#           A FAIRE QUAND PASSAGE A VUE
         <button class="btn btn-primary" >Afficher la carte</button>
         #}
            <div id="boutique_coordinates" style="height: 400px; width: 80%; margin: 1rem auto;" data-full="{{ fullAdress }}" data-boutique_title="{{ boutique.title }}" data-lng="{{boutique.lng}}" data-lat="{{boutique.lat}}"></div>
        </section>
    {% endif %}
    {% if annonce != null %}
        <section id="focus_annonce" class="wrap">
            <div id="annonce_card_public">
                <div class="card_public">
                    <div class="content_card_public">
                        <div class="image_card_public">
                            {% for image in annonce.imagesAnnonces %}
                                <img src="{{ asset('uploads/mini/'~image.title) }}"/>
                            {% endfor %}
                        </div>
                        <div class="description_card_public">
                            <div class="description_top">
                                <div>
                                    <h3 class="title_public">{{ annonce.title }}</h3>
                                    <p>dans la catégorie <span>{{ annonce.subcategory.parentCategory.title }}</span></p>
                                </div>
                                <p><span>Prix : </span>{{ annonce.price }} €</p>
                            </div>
                            <div class="description_bottom">
                                <p><span>Description : </span>{{ annonce.description }}</p>
                                <div class="price_date">
                                    <p><span>Mis en ligne le : </span>{{ annonce.createdAt|date('d/m/Y') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if notMyboutique %}
                    <div class="contact_vendeur">
                        {% if app.user %}
                            <p class="contact"> Contacter le vendeur</p>
                            {% if boutique.telephone %}
                                <p class="telephone">{{ boutique.telephone }}</p>
                            {% endif %}
                            {% if is_granted('ROLE_VENDEUR') %}
                                <a href="{{ path('boutique_messagerie_new_conversation', {id: annonce.boutique.user.id}) }}" class="message_link">Message</a>
                            {% else %}
                                <a href="{{ path('user_messagerie') }}" class="message_link">Message</a>
                            {% endif %}
                        {% else %}
                            <p class="contact"> Contacter le vendeur</p>
                            <a class="message_visiteur" href="{{ path('app_login') }}">Connectez vous</a>
                            <p>ou</p>
                            <a class="message_visiteur"  href="{{ path('app_register') }}">Inscrivez-vous</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% if boutique.annonces|length > 0 %}
    <section id="listing_annonces_public" class="wrap">
        <h1 class="boutique_title title">Les annonces de {{  boutique.user.surname|capitalize }}</h1>
        <ul>
            {% for annonce in annonces %}
                <li class="annonces_card">
                    <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}" class="content_card_public_link">
                        <div class="content_card_public">
                            <div class="image_card_public">
                                {% for image in annonce.imagesAnnonces %}
                                    <img src="{{ asset('uploads/mini/'~image.title) }}"/>
                                {% endfor %}
                            </div>
                            <div class="description_card_public">
                                <div class="description_title">
                                    <h3>{{ annonce.title }}</h3>
                                </div>
                                <div class="description_category">
                                    <span >Catégorie :</span> <span class="category_public">{{ annonce.subcategory.parentCategory.title }}</span>
                                </div>
                                <div class="description_down">
                                    <p><span>Prix : </span>{{ annonce.price }} €</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if annonce == null %}
        {% include 'front/boutique/avis/_avis_boutique.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('flexslider') }}
    {{ encore_entry_script_tags('leaflet') }}
    <script>
        $(document).ready(function () {
            const boutton_favory =    $('.favory_button')
            boutton_favory.click( function (e) {
                e.preventDefault();
                let path = '{{ path('app_toggle_favory', {id:boutique.id}) }}';
                $.ajax({
                    type: "POST",
                    url: path,
                    dataType : 'html',
                    data: {{ boutique.id }},
                    success: function(res){
                        if (boutton_favory.hasClass('favory_active')){
                            boutton_favory.removeClass('favory_active')
                        }else{
                            boutton_favory.addClass('favory_active')
                        }
                    }
                });
            })
        })
    </script>
{% endblock %}