{% extends 'layout/front_base.html.twig' %}

{% block body %}
    <section id="slider-home">
        <div class="flexslider" id="slider">
            <ul class="slides relative">
                {% for imageBoutique in boutique.imagesBoutiques %}
                    <li>
                        <img src="{{ asset('uploads/boutique/' ~ imageBoutique.title) }}" />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="photo_profile">
            <a href="{{ path('view_boutique', {id: boutique.id}) }}"><img src="{{ asset('images/test-profile.png') }}" /></a>
        </div>
    </section>

    <section id="profile" class="wrap">
        <div class="infos_vendeur">
            <p>{{ boutique.user.name|capitalize }} de {{ boutique.city }} |</p>
            <p>Boutique en ligne depuis le : {{ boutique.createdAt|date('d/m/Y') }}</p>
        </div>
        <div class="rating_boutique">
            <a href="#avis_listing">
                 <span class="rating" data-rating="{{ globalRating }}">
                    {% for i in 1..5 %}
                        {% if i <= globalRating %}
                            <i class="fa-solid fa-star" data-checked="false" data-note="{{ i }}" style="color: orange"></i>
                        {% else %}
                            <i class="fa-solid fa-star" data-checked="false" data-note="{{ i }}"></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </a>
        </div>
        <div class="favory_boutique">
            <a id="boutton_favory" href="{{ path('app_toggle_favory', {'id' : boutique.id}) }}"><i class="fa-solid fa-heart" style="font-size:2rem;padding:.5rem;border: 1px solid black; border-radius: 50%"></i></a>
        </div>
    </section>

    <section id="boutique" class="wrap">
        <div class="infos_boutique">

            <h1 class="title_boutique"><a href="{{ path('view_boutique', {id: boutique.id}) }}">{{ boutique.title }}</a></h1>
            {% if annonce == null %}

            <p class="description_boutique">{{ boutique.description }}</p>
            {% endif %}
        </div>
    </section>

    <section id="annonces_public" class="wrap">
    {% if annonce != null %}
        <div id="annonce_card_public">
            
            <div class="card_public">
                <div class="content_card_public">
                    <div class="image_card_public">
                        {% for image in annonce.imagesAnnonces %}
                            <img src="{{ asset('uploads/mini/'~image.title) }}"/>
                        {% endfor %}
                    </div>
                    <div class="description_card_public">
                        <div class="description_top">
                            <div>
                                <h3 class="title_public">{{ annonce.title }}</h3>
                                <p>dans la catégorie <span>{{ annonce.subcategory.parentCategory.title }}</span></p>
                            </div>
                            <p><span>Prix : </span>{{ annonce.price }} €</p>
                        </div>

                        <div class="description_bottom">
                            <p><span>Description : </span>{{ annonce.description }}</p>
                            <div class="price_date">
                                <p><span>Mis en ligne le : </span>{{ annonce.createdAt|date('d/m/Y') }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="contact_vendeur">
                {% if app.user %}
                    <p class="contact"> Contacter le vendeur</p>
                    {% if boutique.telephone %}
                        <p class="telephone">{{ boutique.telephone }}</p>
                    {% endif %}
                    {% if is_granted('ROLE_VENDEUR') %}
                        <a href="{{ path('boutique_messagerie_new_conversation', {id: annonce.boutique.user.id}) }}" class="message_link">Message</a>
                    {% else %}
                        <a href="{{ path('user_messagerie') }}" class="message_link">Message</a>
                    {% endif %}
                {% else %}
                    <p class="contact"> Contacter le vendeur</p>
                    <a class="message_visiteur" href="{{ path('app_login') }}">Connectez vous</a>
                    <p>ou</p>
                    <a class="message_visiteur"  href="{{ path('app_register') }}">Inscrivez-vous</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
        
    <h1 class="title_listing_annonces">Les annonces de {{  boutique.user.name|capitalize }}</h1>
    <div id="listing_annonces">
    {% for annonce in annonces %}

    <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}" class="content_card_public_link">

        <div class="content_card_public">
            <div class="image_card_public">
                {% for image in annonce.imagesAnnonces %}
                    <img src="{{ asset('uploads/mini/'~image.title) }}"/>
                {% endfor %}
            </div>
            <div class="description_card_public">
                <div class="description_top">
                    <h3 class="title_public">{{ annonce.title }}</h3> |
                    <p><span>{{ annonce.subcategory.parentCategory.title }}</span></p>
                </div>
                <div class="description_top">
                    <p><span>Prix : </span>{{ annonce.price }} €</p> |
                    <p><span>Mis en ligne le : </span>{{ annonce.createdAt|date('d/m/Y') }}</p>
                </div>
            </div>
        </div>
        </a>
    {% endfor %}
    </section>

    {% include 'front/boutique/avis/_avis_boutique.html.twig' %}


{% endblock %}
