{% extends 'layout/front_base.html.twig' %}

{% block body %}
    <section id="slider-home">
        <div class="flexslider" id="slider">
            <ul class="slides relative">
                {% for imageBoutique in boutique.imagesBoutiques %}
                    <li>
                        {# <img src="{{ asset('uploads/boutique/imageBoutiqueDefault.jpg') }}" /> #}
                        <img src="{{ asset('uploads/boutique/' ~ imageBoutique.title) }}" />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="photo_profile">
            <img src="{{ asset('images/test-profile.png') }}" />
        </div>
    </section>

    <section id="profile" class="wrap">
        
        <div class="infos_vendeur">
            <p>{{ boutique.user.name }} de {{ boutique.city }}</p>
            <p>Boutique en ligne depuis le : {{ boutique.createdAt|date('d/m/Y') }}</p>
        </div>
        
    </section>

    <section id="boutique" class="wrap">
        <div class="infos_boutique">
            <h1 class="title_boutique">{{ boutique.title }}</h1>
            {% if annonce == null %}
            <p class="description_boutique">{{ boutique.description }}</p>
            {% endif %}
        </div>

        <div class="contact_vendeur">
            {% if app.user %}
                <p class="contact"> Contacter le vendeur</p>
                {% if boutique.telephone %}
                    <p class="telephone">{{ boutique.telephone }}</p>
                {% endif %}
                <a href="#" class="message_link">Message</a>
            {% else %}
                <p class="contact"> Contacter le vendeur</p>
                <a href="{{ path('app_login') }}">Connectez vous</a>
                <p>ou</p>
                <a href="{{ path('app_register') }}">Inscrivez-vous</a>
            {% endif %}
        </div>
    </section>

    <section id="annonces_public" class="wrap">

    {% if annonce != null %}
        <div id="annonce_card_public">
            
            <div class="card_public">
                <div class="content_card_public">
                    <div class="image_card_public">
                        <img src="{{ asset('/images/parsley-261039_640.jpg') }}"/>
                    </div>
                    <div class="description_card_public">
                        <h3 class="title_public">{{ annonce.title }}</h3>
                        {# <p><span>{{ annonce.subcategory.title }}</span></p> #}
                        <p><span>Description : </span>{{ annonce.description }}</p>
                        <div class="price_date">
                            <p><span>Prix : </span>{{ annonce.price }} €</p>
                            <p><span>Mis en ligne le : </span>{{ annonce.createdAt|date('d/m/Y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        
        {# <h1>Les annonces de {{ user.name }}</h1> #}
        <div id="listing_annonces">
        {% for annonce in boutique.annonces %}

            {# <div class="card_public"> #}
            <div class="content_card_public">
                <div class="image_card_public">
                    <img src="{{ asset('/images/parsley-261039_640.jpg') }}"/>
                </div>
                <div class="description_card_public">
                    <h3 class="title_public">{{ annonce.title }}</h3>
                    {# <p><span>Description : </span>{{ annonce.description }}</p> #}
                    <p><span>Prix : </span>{{ annonce.price }} €</p>
                    <p><span>Mis en ligne le : </span>{{ annonce.createdAt|date('d/m/Y') }}</p>
                </div>
            </div>
            {# </div> #}
        {% endfor %}

        {# <div class="separator"></div> #}
        
    </section>

{% endblock %}
