{% extends 'layout/front_base.html.twig' %}

{% block title %}
    {% if annonce == null %}
        {{ boutique.title }}
    {% else %}
        {{ annonce.title }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% if annonce != null %}
        {{ encore_entry_link_tags('public_boutique') }}
        {{ encore_entry_link_tags('Formulaires') }}
    {% else %}
        {{ encore_entry_link_tags('focus_annonce') }}
    {% endif %}
    <link href="{{ asset('bootstrap/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section id="slider-home_boutique">
        {% include '_partials/_images_boutique.html.twig' %}
        <a href="{{ path('view_boutique', {id: boutique.id}) }}">
            {% include '_partials/_photo_profile.html.twig' %}
        </a>
    </section>
    <section id="profile" class="wrap">
        <div class="infos_vendeur">
            <p>{{ boutique.user.name|capitalize }}  |</p>
            <p>Boutique en ligne depuis le {{ boutique.createdAt|date('d/m/Y') }}</p>
        </div>
    </section>
    <section id="boutique" class="wrap padding-10">
        <div class="head_boutique">
            <div class="head_btq_line">
                <div>
                    <h1 class="title_boutique"><a href="{{ path('view_boutique', {id: boutique.id}) }}">{{ boutique.title }}</a></h1>
                </div>
                {% if app.user and notMyboutique %}
                    <div class="favory_boutique">
                        <a title="Ajouter aux favoris" class="favory_button {{ favory }}" href="{{ path('app_toggle_favory', {'id' : boutique.id}) }}"><i class="favory_icon fa-solid fa-heart"></i></a>
                    </div>
                {% endif %}
            </div>
            {% if annonce == null %}
                <div class="rating_boutique">
                    <a href="#avis_listing">
                        <span class="rating" data-rating="{{ globalRating }}">
                            {% for i in 1..5 %}
                                {% if i <= globalRating|round %}
                                    {% if (i - globalRating) > 0  %}
                                        <i class="fa-solid fa-star-half-stroke favory" data-checked="false" data-note="{{ i }}"></i>
                                    {% else %}
                                        <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fa-regular fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </a>
                    <span>({{ avis|length }} avis)</span>
                </div>
                <p class="description_boutique">{{ boutique.description }}</p>
            {% endif %}
        </div>
    </section>
    {% if annonce == null and boutique.cardActive %}
        {% if boutique.adress == '' %}
            {% set fullAdress = 'false' %}
        {% else %}
            {% set fullAdress = 'true' %}
        {% endif %}
        <section class="wrap">
            <h1 class="title_boutique">Où me trouver ?</h1>
            <div id="boutique_coordinates" style="height: 400px; width: 80%; margin: 1rem auto;z-index: 3;" data-full="{{ fullAdress }}" data-boutique_title="{{ boutique.title }}" data-lng="{{boutique.lng}}" data-lat="{{boutique.lat}}"></div>
        </section>
    {% endif %}
    {% if annonce != null %}
        <section id="focus_annonce" class="wrap">
            <div class="annonce_box">
                {% include '_partials/_images_annonce.html.twig' %}
                <div class="annonce_text">
                    <a title="Voir l'annonce" href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}">
                        <h5 class="annonce_title">{{ annonce.title }}&nbsp&nbsp<span class="span_created">Mis en ligne le {{ annonce.createdAt|date('d/m/Y') }}</span></h5>
                        <p class="annonce_type"><strong>Catégorie : </strong>{{ annonce.subcategory.parentCategory.title }}</p>
                        <p class="annonce_type"><span>Type de produit : </span>{{ annonce.subcategory.title }}</p>
                        <span>Description : </span>
                        <p class="annonce_description scroller">{{ annonce.description }}</p>
                        <p class="annonce_price">{{ annonce.price }}€/{{ annonce.mesure.title }}</p>
                    </a>
                </div>
            </div>
            {% if notMyboutique %}
                <div class="contact_vendeur">
                    {% if app.user %}
                        <div>
                            <p class="contact">Contacter le vendeur</p>
                        </div>
                        <div class="resp_contact">
                            {% if boutique.telephone %}
                                <p class="telephone">{{ boutique.telephone }}</p>
                            {% endif %}
                            {% if is_granted('ROLE_VENDEUR') %}
                                <a title="Envoyer un message au vendeur" href="{{ path('boutique_messagerie_new_conversation', {id: annonce.boutique.user.id}) }}" class="message_link">Message</a>
                            {% else %}
                                <a title="Envoyer un message au vendeur" href="{{ path('new_conversation_user', {id: annonce.boutique.user.id}) }}" class="message_link">Message</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div>
                            <p class="contact">Contacter le vendeur</p>
                        </div>
                        <div class="resp_contact">
                            <a class="message_visiteur" href="{{ path('app_login') }}">Connectez vous</a>
                            <p class="text-center">ou</p>
                            <a class="message_visiteur" href="{{ path('app_register') }}">Inscrivez-vous</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </section>
    {% endif %}
    {% if boutique.annonces|length > 1 %}
    <section id="listing_annonces_public" class="wrap">
        <h1 class="title_boutique">Les annonces de {{  boutique.user.name|capitalize }}</h1>
        {% include 'front/annonce/_annonces.html.twig' %}
    </section>
    {% endif %}
    {% if annonce == null %}
        {% include 'front/boutique/avis/_avis_boutique.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if annonce == null %}
        {{ encore_entry_script_tags('public_boutique') }}
        {{ encore_entry_script_tags('Formulaires') }}
    {% else %}
        {{ encore_entry_script_tags('focus_annonce') }}
    {% endif %}
    <script>
        $(document).ready(function () {
            const boutton_favory =    $('.favory_button')
            boutton_favory.click( function (e) {
                e.preventDefault();
                let path = '{{ path('app_toggle_favory', {id:boutique.id}) }}';
                $.ajax({
                    type: "POST",
                    url: path,
                    dataType : 'html',
                    data: {{ boutique.id }},
                    success: function(res){
                        if (boutton_favory.hasClass('favory_active')){
                            boutton_favory.removeClass('favory_active')
                        }else{
                            boutton_favory.addClass('favory_active')
                        }
                    }
                });
            })
        })
    </script>
{% endblock %}