{% extends 'layout/admin_base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 p-20">
    <h2 class="title">Categories</h2>
    <div class="m-b-20 m-t-20">
        <a href="{{ path('app_category_new') }}" class="action width-100 text-align-center inline-block">Créer une nouvelle catégorie</a>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-b-20">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Id</th>
                    <th scope="col" class="px-6 py-3">Titre</th>
                    <th scope="col" class="px-6 py-3">Image</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ category.id }}</th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ category.title }}</th>
                    <td class="px-6 py-4">{{ category.image }}</td>
                    <td class="px-6 py-4 text-right">
                        <a href="{{ path('app_category_show', {'id': category.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">show</a> / 
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
