{% extends 'layout/admin_base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="p-t-10 p-b-10">
        <a href="{{ path('app_category_new') }}" class="btn btn-primary width-100">Créer une nouvelle catégorie</a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Catégories</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.title }}</td>
                                <td>{{ category.image }}</td>
                                <td>
                                    <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-primary">Voir</a>
                                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Aucune donnée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="js-filter-pagination" id="pagination_box">
                    {{ knp_pagination_render(categories) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
