{% extends 'layout/admin_base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 p-20">
    <div>
        <h3 class="title">{{ category.title }}</h3>
        <p><span class="m-0 font-weight-bold text-primary">Id : </span>{{ category.id }}</p>
        <div class="m-b-10">
            <p class="m-0 font-weight-bold text-primary">Image : </p>
            {% if category.image %}
                <img src="{{ asset('uploads/category/' ~ category.image) }}"/>
            {% else %}
                <img src="{{ asset('asset/images/logo-paul.svg') }}" style="width: 100px;"/>
            {% endif %}
        </div>
        <div class="d-flex gap-1">
            <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
            {{ include('admin/category/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="p-t-10 p-b-10">
        <a href="{{ path('new_sous_cat', {id: category.id}) }}" class="btn btn-primary width-100">Créer une nouvelle sous-catégorie</a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sous-catégories</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="js-filter-pagination" id="pagination_box">
                    {{ knp_pagination_render(sousCategory) }}
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Id Parent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Id Parent</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for cat in sousCategory %}
                            <tr>
                                <td>{{ cat.id }}</td>
                                <td>{{ cat.title }}</td>
                                <td>{{ cat.parentCategory.id }}</td>
                                <td><a href="{{ path('details-sous-cat', {'id': cat.id}) }}" class="btn btn-primary">Détails</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Aucune données</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="js-filter-pagination" id="pagination_box">
                    {{ knp_pagination_render(sousCategory) }}
                </div>
            </div>
        </div>
    </div>
    <div class="m-t-20 m-b-20">
        <a href="{{ path('app_category_index') }}" class="btn btn-primary">Retour listing categories</a>
    </div>
{% endblock %}
