{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('flexslider') }}
{% endblock %}

{% block body %}
  <section id="slider-home">
    <div class="flexslider" id="slider">
      <ul class="slides relative">
          {%  for imageHero in imagesHero %}
            <li>
              <h2 class="absolute text text-center"><span>Bienvenue sur Garden Connect</span><br>Achetez ou vendez<br>des produits frais autour de chez vous !</h2>
              <img src="{{ asset('uploads/hero/'~imageHero.title) }}" alt="">
            </li>
          {% endfor %}
      </ul>
    </div>
  </section>
  
  <section class="slider-category">
    <div class="contener carousel">
      <h2 class="title_section_home">Que cherchez vous ?</h2>
      <div class="flexslider" id="slider-category">
        <ul class="slides relative">
          {% for cat in categories %}
            <li class="card_cat">
              <img src="{{ asset('uploads/category/' ~ cat.image) }}" />
              <div>
                <a href="{{ path('app_annonce_recherche')~'?category='~cat.id }}" class="title-cat" >
                  <h3>{{ cat.title }}</h3>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <div class="separator_home"></div>

  <section id="annonces" class="wrap">
    <a href="{{ path('app_annonce_recherche') }}" ><h2 class="title_section_home derniere_annonce">Les dernières annonces</h2></a>
    {% for annonce in annonces %}
        <div class="annonce_box">
          <div class="annonce_img">
            {# <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}" class="annonce_link"> #}
              <ul class="slides">
                {% for image in annonce.imagesAnnonces %}
                    <li class="li_annonce_img">
                      <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}" class="annonce_link">
                        <img src="{{ asset('uploads/mini/'~ image.title) }}" />
                      </a>
                    </li>
                  {% endfor %}
              </ul>
            {# </a> #}
          </div>
          <div class="annonce_text">
            <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}" class="annonce_link" >
              <div>
                <p class="annonce_title">{{ annonce.title }}</p>
              </div>
              <div class="annonce_description_box">
                <p>{{ annonce.description }}</p>
              </div>
              <div class="annonce_price_box">
                <p class="annonce_price">{{ annonce.price }}€/Kg</p>
              </div>
            </a>
          </div>
        </div>
    {% endfor %}
  </section>

  <div class="separator_home"></div>

  <section class="wrap">
    <h2 class="title_section_home">Découvrez les boutiques !</h2>
    <div id="card_box" style="height: 400px"></div>
    <br>
  </section>

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('flexslider') }}
  <script>
    const carte_box = document.getElementById('card_box')
    const carte     = L.map(carte_box).setView([49.346658, 0.525508], 11);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom    : 19,
      attribution: '© OpenStreetMap'
    }).addTo(carte);

    const icone = L.icon({
      iconUrl     : '../../build/images/icone_boutique.png',
      iconSize    : [50, 50],
      iconAnchor  : [20,15],
      popupAnchor : [4,-12]
    })

    const marqueurs = L.markerClusterGroup();
    const boutiques = JSON.parse('{{ boutiquesInfos|json_encode|raw }}');

    for (let i = 0; i < boutiques.length; i++)
    {
      let boutique_name = boutiques[i][0];
      let lat           = boutiques[i][1];
      let lng           = boutiques[i][2];
      let boutique_id   = boutiques[i][3];
      let boutique_path = '{{ path("view_boutique", {'id': 'boutique_id'}) }}';
      boutique_path = url.replace("boutique_id", boutique_id);
      let marqueur      = L.marker([ parseFloat(lat), parseFloat(lng)], {icon: icone} );
      marqueur.bindPopup("" +
              "<div style='display: flex; flex-flow: column nowrap; align-items: center'>" +
                "<b>"+boutique_name+"</b><br>" +
                "<a href="+boutique_path+">Voir la boutique</a>" +
              "</div>")
      marqueurs.addLayer(marqueur)
    }
    carte.addLayer(marqueurs)
  </script>
{% endblock %}