{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
  <section id="slider-home">
    <div class="flexslider" id="slider">
      <ul class="slides relative">
          {%  for imageHero in imagesHero %}
            <li>
              <div class="hero_text">
                <p class="hero_line1">Bienvenue sur Garden Connect&nbsp!</p>
                <p>Achetez ou vendez</p>
                <p>des produits frais autour de chez vous</p>
              </div>
              <img src="{{ asset('uploads/hero/'~imageHero.title) }}" alt="images d'illustrations">
            </li>
          {% endfor %}
      </ul>
    </div>
  </section>
  <section class="slider-category">
    <div class="contener carousel">
      <h2 class="title_section_home">Que cherchez-vous ?</h2>
      <div class="flexslider" id="slider-category">
        <ul class="slides relative custom">
          {% for cat in categories %}
            <li class="card_cat">
              <img src="{{ asset('uploads/category/' ~ cat.image) }}" />
              <div>
                <a href="{{ path('app_annonce_recherche')~'?category='~cat.id }}" class="title-cat" >
                  <h3>{{ cat.title }}</h3>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <div class="separator_home"></div>
    <a href="{{ path('app_annonce_recherche') }}" >
      <h2 class="title_section_home derniere_annonce">Les dernières annonces</h2>
    </a>
    {{ include('front/annonce/_annonces.html.twig') }}
  <div class="separator_home"></div>
  <section class="wrap">
    <h2 class="title_section_home">Découvrez les boutiques !</h2>
    <div id="card_box" style="height: 400px"></div>
    <br>
  </section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('homepage') }}
  <script>
    const carte_box = document.getElementById('card_box')
    const carte     = L.map(carte_box).setView([49.346658, 0.525508], 11);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom    : 19,
      attribution: '© OpenStreetMap'
    }).addTo(carte);
    //
    // const icone = L.icon({
    //   iconUrl     : '../../build/images/logo.png',
    //   iconSize    : [25, 40],
    //   iconAnchor  : [20,15],
    //   popupAnchor : [-7.5,-13]
    // })

    const marqueurs = L.markerClusterGroup();
    const boutiques = JSON.parse('{{ boutiquesInfos|json_encode|raw }}');

    for (let i = 0; i < boutiques.length; i++)
    {
      let boutique_name = boutiques[i][0];
      let lat           = boutiques[i][1];
      let lng           = boutiques[i][2];
      let boutique_id   = boutiques[i][3];
      let boutique_path = '{{ path("view_boutique", {'id': 'boutique_id'}) }}';
      boutique_path     = boutique_path.replace("boutique_id", boutique_id);
      let marqueur      = L.marker([ parseFloat(lat), parseFloat(lng)]
              // , {icon: icone}
              );
      marqueur.bindPopup("" +
              "<div style='display: flex; flex-flow: column nowrap; align-items: center'>" +
                "<b>"+boutique_name+"</b><br>" +
                "<a href="+boutique_path+">Voir la boutique</a>" +
              "</div>")
      marqueurs.addLayer(marqueur)
    }
    carte.addLayer(marqueurs)
  </script>
{% endblock %}