{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/flex/flexslider.css') }}" type="text/css">
{% endblock %}
{% block body %}
  <section id="slider-home">
    <div class="flexslider" id="slider">
      <ul class="slides relative">
        <li>
          <h2 class="absolute">Citation alacon qui fait bien</h2>
          <img src="{{ asset('images/field-3629120.jpg') }}" />
        </li>
        <li>
          <h2 class="absolute">Philo alacon qui fait bien</h2>
          <img src="{{ asset('images/tomatoes-1583134.jpg') }}" />
        </li>
        <li>
          <img src="{{ asset('images/fall-915629.jpg') }}" />
        </li>
      </ul>
    </div>
  </section>
  
  <section id="slider-category">
    <h2>Découvrez les produits</h2>
    <div class="flexslider slider-category">
      <ul class="slides">
        {# {% for cat in categories %}
          <li class="d-flex flex-column">
            <div>
              <img src="https://picsum.photos/id/237/300/300" />
            </div>
            <div>
              <h3>{{ cat.title }}</h3>
            </div>
          </li>
        {% endfor %} #}
        <li class="padding-10">
          <img src="https://picsum.photos/id/237/300/300" />
        </li>
        <li>
          <img src="https://picsum.photos/id/236/300/300" />
        </li>
        <li>
          <img src="https://picsum.photos/id/235/300/300" />
        </li>
        <li>
          <img src="https://picsum.photos/id/234/300/300" />
        </li>
        <li>
          <img src="https://picsum.photos/id/233/300/300" />
        </li>
        <li>
          <img src="https://picsum.photos/id/232/300/300" />
        </li>
        <li>
          <img src="https://picsum.photos/id/231/300/300" />
        </li>
      </ul>
    </div>
  </section>

  <section id="annonces" class="wrap">
    <h2>Découvrez les produits</h2>
    {% for annonce in annonces %}
      <div class="annonce_box">
        <div class="annonce_img">
          <img src="{{ asset('images/fruit-3860991.jpg') }}"/>
        </div>
        <div class="annonce_text">
          <div>
            <p class="annonce_title">{{ annonce.title }}</p>
          </div>
          <div class="annonce_description_box">
            <p>{{ annonce.description }}</p>
          </div>
          <div class="annonce_price_box">
            <p class="annonce_price">{{ annonce.price }}€/Kg</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}


{% block javascripts %}
  <script src="{{ asset('/asset/flex/jquery.flexslider.js') }}"></script>
{% endblock %}
