{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('flexslider') }}
{% endblock %}

{% block body %}
  <section id="slider-home">
    <div class="flexslider" id="slider">
      <ul class="slides relative">
          {%  for imageHero in imagesHero %}
            <li>
              <h2 class="absolute text text-center"><span>Bienvenue sur Garden Connect</span><br>Achetez ou vendez<br>des produits frais autour de chez vous !</h2>
              <img src="{{ asset('uploads/hero/'~imageHero.title) }}" alt="">
            </li>
          {% endfor %}
      </ul>
    </div>
  </section>
  
  <section class="slider-category">
    <div class="contener carousel">
      <h2 class="title_section_home">Que cherchez vous ?</h2>
      <div class="flexslider" id="slider-category">
        <ul class="slides relative">
          {% for cat in categories %}

            <li class="card_cat">
              <img src="{{ asset('uploads/category/' ~ cat.image) }}" />
              <div>
                <a href="{{ path('app_annonce_recherche')~'?category='~cat.id }}" class="title-cat" >
                  <h3>{{ cat.title }}</h3>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <div class="separator_home"></div>

  <section id="annonces" class="wrap">
    <a href="{{ path('app_annonce_recherche') }}" ><h2 class="title_section_home derniere_annonce">Les dernières annonces</h2></a>
    {% for annonce in annonces %}
        <div class="annonce_box">
          <div class="annonce_img">
            <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}" class="annonce_link">
              <ul class="slides">
                {% for image in annonce.imagesAnnonces %}
                    <li>
                      <img src="{{ asset('uploads/mini/'~ image.title) }}" />
                    </li>
                  {% endfor %}
              </ul>
            </a>
          </div>
          <div class="annonce_text">
            <a href="{{ path('view_boutique_annonce_focus', { 'id':annonce.boutique.id, 'id_annonce':annonce.id }) }}" class="annonce_link" >
              <div>
                <p class="annonce_title">{{ annonce.title }}</p>
              </div>
              <div class="annonce_description_box">
                <p>{{ annonce.description }}</p>
              </div>
              <div class="annonce_price_box">
                <p class="annonce_price">{{ annonce.price }}€/Kg</p>
              </div>
            </a>
          </div>
        </div>
    {% endfor %}
  </section>

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('flexslider') }}
{% endblock %}