{% extends 'layout/front_base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/flex/flexslider.css') }}" type="text/css">
{% endblock %}
{% block body %}
  <section id="slider-home">
    <div class="flexslider" id="slider">
      <ul class="slides relative">
        <li>
          <h2 class="absolute text">Citation alacon qui fait bien</h2>
          <img src="{{ asset('images/field-3629120.jpg') }}" />
          {# field-3629120.jpg #}
        </li>
        <li>
          <h2 class="absolute">Philo alacon qui fait bien</h2>
          <img src="{{ asset('images/tomatoes-1583134.jpg') }}" />
          {# tomatoes-1583134.jpg #}
        </li>
        <li>
          <img src="{{ asset('images/fall-915629.jpg') }}" />
          {# fall-915629.jpg #}
        </li>
      </ul>
    </div>
  </section>
  
  <section class="slider-category">
    <div class="contener carousel">
      <h2>Découvrez les produits</h2>
      <div class="flexslider" id="slider-category">
        <ul class="slides relative">
          {% for cat in categories %}
            <li>
              <img src="{{ asset('images/fall-915629.jpg') }}" />
              <h3 class="title-cat">{{ cat.title }}</h3>
            </li>
          {% endfor %}
          {% for cat in categories %}
            <li>
              <img src="{{ asset('images/fall-915629.jpg') }}" />
              <h3 class="title-cat">{{ cat.title }}</h3>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section id="annonces" class="wrap">
    <h2>Découvrez les produits</h2>
    {% for annonce in annonces %}
      <div class="annonce_box">
        <div class="annonce_img">
          <img src="{{ asset('images/fruit-3860991.jpg') }}"/>
        </div>
        <div class="annonce_text">
          <div>
            <p class="annonce_title">{{ annonce.title }}</p>
          </div>
          <div class="annonce_description_box">
            <p>{{ annonce.description }}</p>
          </div>
          <div class="annonce_price_box">
            <p class="annonce_price">{{ annonce.price }}€/Kg</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}


{% block javascripts %}
  <script src="{{ asset('/asset/flex/jquery.flexslider.js') }}"></script>
{% endblock %}
