
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="wrapform">
        <div id="contener_form" class="edit_profile">
            {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
                <div class="bloc_form edit_profile">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}

                    <small>{{ form_help(form.image) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.image) }}
                    </div>
                </div>
                <div class="bloc_form edit_profile">
                    {{ form_label(form.surname) }}
                    {{ form_widget(form.surname) }}

                    <small>{{ form_help(form.surname) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.surname) }}
                    </div>
                </div>
                <div class="bloc_form edit_profile">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                    <small>{{ form_help(form.name) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="bloc_form edit_profile">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}

                    <small>{{ form_help(form.email) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>

                {# <div class="button_boutique" style="border: 1px solid red;"> #}
                    <div class="bloc_form btn-custom btq modif_profile">
                        <span class="hover-effect">
                        {{ form_widget(form.submit) }}
                        </span>
                    </div>
                {# </div> #}
                {# <div class="bloc_form edit_profile">
                    {{ form_widget(form.submit) }}
                </div> #}
            {{ form_end(form) }}
        </div>
    </div>