{% block stylesheets %}
    <link href="{{ asset('bootstrap/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}
<div class="body">
    <div class="wrap boutique_form" style="border: 1px solid red;">
        {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
            <div class="bloc_form">
                {{ form_label(form.rating) }}
                <div class="rating" data-rating="0" style="font-size: 2rem">
                    <i class="star fa-solid fa-star" data-checked="false" data-note="1"></i>
                    <i class="star fa-solid fa-star" data-checked="false" data-note="2"></i>
                    <i class="star fa-solid fa-star" data-checked="false" data-note="3"></i>
                    <i class="star fa-solid fa-star" data-checked="false" data-note="4"></i>
                    <i class="star fa-solid fa-star" data-checked="false" data-note="5"></i>
                </div>
            </div>

            <div class="bloc_form">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}

                <small>{{ form_help(form.title) }}</small>

                <div class="form-error"  style="text-align: center">
                    {{ form_errors(form.title) }}
                </div>
            </div>

            <div class="bloc_form">
                {{ form_label(form.commentaire) }}
                {{ form_widget(form.commentaire) }}

                <small>{{ form_help(form.commentaire) }}</small>

                <div class="form-error" style="text-align: center">
                    {{ form_errors(form.commentaire) }}
                </div>
            </div>
            <div class="bloc_submit">
            <div class="bloc_form btn-custom">
                <span class="hover-effect">
                    <button>{{ button_label|default('Envoyer') }}</button>
                </span>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('back_boutique') }}
{% endblock %}
