{% extends 'layout/admin_base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 p-20">
    <h2 class="title">Annonces Actives</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-b-20">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Id</th>
                    <th scope="col" class="px-6 py-3">Titre</th>
                    <th scope="col" class="px-6 py-3">Description</th>
                    <th scope="col" class="px-6 py-3">Prix</th>
                    <th scope="col" class="px-6 py-3">Créée le</th>
                    <th scope="col" class="px-6 py-3">Actif</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for annonce in annoncesActif %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ annonce.id }}</th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ annonce.title }}</th>
                    <td class="px-6 py-4">{{ annonce.description | striptags | slice(0, 65) }}</td>
                    <td class="px-6 py-4">{{ annonce.price }} €</td>
                    <td class="px-6 py-4">{{ annonce.createdAt|date('Y-m-d H:i:s') }}</td>
                    {% if annonce.actif %}
                        <td class="px-6 py-4">Actif</td>
                    {% else %}
                        <td class="px-6 py-4">Inactif</td>
                    {% endif %}
                    <td class="px-6 py-4 text-right"><a href="{{ path('details-annonce', {id: annonce.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Détails</a></td>
                </tr>
            {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="js-filter-pagination" id="pagination_box">
            {{ knp_pagination_render(annoncesActif) }}
        </div>
    </div>
    <h2 class="title">Annonces Inactives</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-b-20">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Id</th>
                    <th scope="col" class="px-6 py-3">Titre</th>
                    <th scope="col" class="px-6 py-3">Description</th>
                    <th scope="col" class="px-6 py-3">Prix</th>
                    <th scope="col" class="px-6 py-3">Créée le</th>
                    <th scope="col" class="px-6 py-3">Actif</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for annonce in annoncesInactif %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ annonce.id }}</th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ annonce.title }}</th>
                    <td class="px-6 py-4">{{ annonce.description | striptags | slice(0, 65) }}</td>
                    <td class="px-6 py-4">{{ annonce.price }} €</td>
                    <td class="px-6 py-4">{{ annonce.createdAt|date('Y-m-d H:i:s') }}</td>
                    {% if annonce.actif %}
                        <td class="px-6 py-4">Actif</td>
                    {% else %}
                        <td class="px-6 py-4">Inactif</td>
                    {% endif %}
                    <td class="px-6 py-4 text-right"><a href="{{ path('details-annonce', {id: annonce.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Détails</a></td>
                </tr>
            {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="js-filter-pagination" id="pagination_box">
            {{ knp_pagination_render(annoncesInactif) }}
        </div>
    </div>
</div>
{% endblock %}
