{% extends 'layout/admin_base.html.twig' %}

{% block title %}Annonce détails{% endblock %}

{% block body %}
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 p-20">
    <div class="card">
        <h3 class="title">{{ annonce.title }}</h3>
        <div class="image-card">
            <img src="{{ asset('asset/images/logo-paul.svg') }}"/>
        </div>
        <div class="description-card">
            <p><span>Description : </span>{{ annonce.description }}</p>
            <p><span>Prix : </span>{{ annonce.price }} €</p>
            <p><span>Mis en ligne le : </span>{{ annonce.createdAt|date('d/m/Y') }}</p>
            {% if annonce.actif %}
                <p><span>Status : </span>Actif</p>
                <div>
                    <a href="{{ path('disable-annonce', {id: annonce.id}) }}" class="action">Rendre inactif</a>
            {% else %}
                <p><span>Status : </span>Inactif</p>
                <div>
                    <a href="{{ path('active-annonce', {id: annonce.id}) }}" class="action">Rendre actif</a>
            {% endif %}
                <a href="{{ path('new_conversation_with_id_annonce', {id: annonce.boutique.user.id, id_annonce: annonce.id}) }}" class="action">Envoyer message d'avertissement</a>
                <a href="{{ path('details-user', {id: annonce.boutique.user.id}) }}" class="action">Voir l'utilisateur</a>
            </div>
        </div>
    </div>
    <div class="m-t-20">
        <a href="{{ path('all-annonces') }}" class="action width-100 text-align-center inline-block">Retour listing Annonces</a>
    </div>
</div>
{% endblock %}
