{% extends 'layout/admin_base.html.twig' %}

{% block title %}Annonce détails{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Flexslider') }}
{% endblock %}

{% block body %}
<div class="card mb-4">
    <div class="card-header d-flex"><p class="m-0 font-weight-bold text-primary">Titre de l'annonce :&nbsp;</p><p>{{ annonce.title }}</p></div>
    <div class="card-body">
        <div class="image_card">
            {% include '_partials/_images_annonce.html.twig' %}
        </div>
        <div class="description_card">
            <p><h6 class="m-0 font-weight-bold text-primary">Description : </h6>{{ annonce.description }}</p>
            <p><h6 class="m-0 font-weight-bold text-primary">Prix : </h6>{{ annonce.price }} €</p>
            <p><h6 class="m-0 font-weight-bold text-primary">Mis en ligne le : </h6>{{ annonce.createdAt|date('d/m/Y') }}</p>
            {% if annonce.actif %}
                <p><h6 class="m-0 font-weight-bold text-primary">Status : </h6>Actif</p>
                <div>
                    <a href="{{ path('toggle_active_annonce', {id: annonce.id}) }}" class="btn btn-primary">Rendre inactive</a>
            {% else %}
                <p><h6 class="m-0 font-weight-bold text-primary">Status : </h6>Inactif</p>
                <div>
                    <a href="{{ path('toggle_active_annonce', {id: annonce.id}) }}" class="btn btn-primary">Rendre active</a>
            {% endif %}
                <a href="{{ path('new_conversation_with_id_annonce', {id: annonce.boutique.user.id, id_annonce: annonce.id}) }}" class="btn btn-primary">Demander une modification</a>
                <a href="{{ path('details-user', {id: annonce.boutique.user.id}) }}" class="btn btn-primary">Voir l'utilisateur</a>
            </div>
        </div>
    </div>
</div>
<div class="m-t-20 m-b-20">
    {% if annonce.actif %}
        <a href="{{ path('all_annonces_actives') }}" class="btn btn-primary width-100">Retour listing annonces</a>
    {% else %}
        <a href="{{ path('all_annonces_inactives') }}" class="btn btn-primary width-100">Retour listing annonces</a>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Flexslider') }}

{% endblock %}