{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
 <title>Boutique Messagerie</title>
{% endblock %}

{% block body %}
<h1 class="title_top">Mes Conversations</h1>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Initiateur</th>
                    <th>Modifié le</th>
                    <th>Messages non lus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for conv in conversations %}
                <tr class="list_line">
                    {% if conv.user.name == app.user.name %}
                        <td>Moi-même</td>
                    {% else %}
                        <td>{{ conv.user.name }}</td>
                    {% endif %}
                    {% if conv.modifiedAt == null %}
                        <td>{{ conv.createdAt|date('Y-m-d') }}</td>
                    {% else %}
                        <td>{{ conv.modifiedAt|date('Y-m-d') }}</td>
                    {% endif %}
                    {% for key, nbr in tblNbrNonlus %}
                        {% if conv.id == key %}
                            <td>{{ nbr }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="table_actions">
                        <div class="bloc_form btn-custom btq avis">
                            <span class="hover-effect btq">
                                <a title="Éditer l'annonce" class="conv" href="{{ path('boutique_messagerie_message', {'id' : conv.id}) }}">Voir</a>
                            </span>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">pas de conversation</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="js-filter-pagination btq" id="pagination_box">
            {{ knp_pagination_render(conversations) }}
        </div>
    </div>
</div>
{% endblock %}
