{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Messagerie</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Messagerie') }}
{% endblock %}

{% block body %}
    <h1 class="title_top">Mes Conversations</h1>
    <div class="messagerie_listing">
        <div class="users-container">
            <ul class="users">
                {% for conv in conversations %}
                    <li class="person" data-chat="person1">
                        <div class="box_user">
                            <div class="user">
                                {% if conv.user.id % 2 == 0 %}
                                    <span class="status online"></span>
                                {% elseif conv.user.id % 3 == 0 %}
                                    <span class="status away"></span>
                                {% elseif conv.user.id % 5 == 0 %}
                                    <span class="status busy"></span>
                                {% else %}
                                    <span class="status offline"></span>
                                {% endif %}
                                {% if conv.user.email == app.user.email and app.user.image %}
                                    <img src="{{ asset('uploads/profile/'~app.user.image) }}" alt="image de profil">
                                {% elseif conv.user.email != app.user.email %}
                                    <img src="{{ conv.user.image }}" alt="image de profil">
                                {% else %}
                                    <img src="{{ asset('images/default-profile-picture.jpg') }}" alt="image de profil par défaut">
                                {% endif %}
                            </div>
                            <p class="name-time">
                                {% if conv.user.name == app.user.name %}
                                    <span class="time init btq">Conversation commencée par vous</span><br>
                                    <span class="name">{{ app.user.name }}</span>
                                {% else %}
                                    <span class="name">{{ conv.user.name }}</span>
                                {% endif %}
                                {% if conv.modifiedAt == null %}
                                    <span class="time">{{ conv.createdAt|date('d/m/Y') }}</span>
                                {% else %}
                                    <span class="time">{{ conv.modifiedAt|date('d/m/Y') }}</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="box_name_time">
                            {% for key, nbr in tblNbrNonlus %}
                                {% if conv.id == key %}
                                    {% if nbr > 0 %}
                                        <p class="mess_nonlus new btq">Messages non lus 
                                            <span>{{ nbr }}</span>
                                        </p>
                                    {% else %}
                                        <p class="mess_nonlus none">Pas de nouveaux messages
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div class="block_buttons chat see">
                                <a title="Voir la conversation" class="conv" href="{{ path('boutique_messagerie_message', {'id' : conv.id}) }}">Voir</a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <h3 class="text-center mess">Pas de conversation...</h3>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="js-filter-pagination btq" id="pagination_box">
        {{ knp_pagination_render(conversations) }}
    </div>
{% endblock %}
