{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Boutique Messagerie</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Messagerie') }}
{% endblock %}

{% block body %}
<h1 class="title_top">Mes Conversations</h1>
    <div class="messagerie_listing" style="">
        <div class="users-container">
            <ul class="users">
                {% for conv in conversations %}
                    {% set user = conv.user %}
                    <li class="person" data-chat="person1">
                        <div class="box_user">
                            <div class="user">
                                <span class="status busy "></span>
                                {% include '_partials/_photo_profile.html.twig' %}
                            </div>
                            <p class="name-time">
                                {% if conv.user.name == app.user.name %}
                                    <span class="time init btq">Conversation commencée par vous</span><br>
                                    <span class="name">{{ app.user.name }}</span>
                                {% else %}
                                    <span class="name">{{ conv.user.name }}</span>
                                {% endif %}
                                {% if conv.modifiedAt == null %}
                                    <span class="time">{{ conv.createdAt|date('d/m/Y') }}</span>
                                {% else %}
                                    <span class="time">{{ conv.modifiedAt|date('d/m/Y') }}</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="box_name_time">
                            {% for key, nbr in tblNbrNonlus %}
                                {% if conv.id == key %}
                                    {% if nbr > 0 %}
                                        <p class="mess_nonlus new">Messages non lus 
                                            <span>{{ nbr }}</span>
                                        </p>
                                    {% else %}
                                        <p class="mess_nonlus none">Pas de nouveaux messages
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div class="block_buttons chat see">
                                <a title="Voir la conversation" class="conv" href="{{ path('boutique_messagerie_message', {'id' : conv.id}) }}">Voir</a>
                            </div>
                        </div>
                    </li>
                {% else %}
                <p style="font-size: 2rem; text-align: center; color: grey; margin: 3rem 0;">Pas de conversation...</p>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="js-filter-pagination btq" id="pagination_box">
        {{ knp_pagination_render(conversations) }}
    </div>
{% endblock %}
