{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Conversation</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Messagerie') }}
{% endblock %}

{% block body %}
    {% set user = conversation.user %}
    <h1 class="title_top">Conversation</h1>
    {#  #}
    {% if conversation.user.email == app.user.email %}
        <div class="d-flex" style="justify-content: center; gap: 1rem; padding: .5rem 0; align-items: center;">
            <div style="font-weight: bold;">Conversation avec {{ conversation.correspondant.name }}</div>
            <div class="chat-avatar">
            {% if conversation.correspondant.image %}
                <img class="avatar" src="{{ asset('uploads/profile/'~conversation.correspondant.image) }}" alt="image de profil">
            {% else %}
                <img class="avatar" src="{{ asset('images/default-profile-picture.jpg') }}" alt="image de profil par défaut">
            {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="chat-container">
        <ul class="chat-box chatContainerScroll">
            {# Première bulle #}
            {% if user.email == app.user.email %}
                <p class="chat_date">{{ conversation.createdAt|date('d/m/y') }}</p>
                <li class="chat-left">
                    <div class="chat-avatar">
                        {% include '_partials/_photo_profile.html.twig' %}
                        <div class="chat-name">{{ user.name }}</div>
                    </div>
                    <div class="chat-text">{{ conversation.premierMessage }}</div>
                    <div class="chat-hour">{{ conversation.createdAt|date('H:i') }}<span class="fa fa-check-circle btq"></span></div>
                </li>
            {% else %}
                <p class="chat_date">{{ conversation.createdAt|date('d/m/y') }}</p>
                <li class="chat-left">
                    <div class="chat-avatar">
                        {% include '_partials/_photo_profile.html.twig' %}
                        <div class="chat-name">{{ user.name }}</div>
                    </div>
                    <div class="chat-text">{{ conversation.premierMessage }}</div>
                    <div class="chat-hour">{{ conversation.createdAt|date('H:i') }}<span class="fa fa-check-circle btq"></span></div>
                </li>
            {% endif %}
            {# Deuxième bulle et suite #}
            {% for message in conversation.messages %}
                {% if message.expediteur.email == user.email %}
                    <p class="chat_date">{{ message.createdAt|date('d/m/y') }}</p>
                    <li class="chat-left">
                        <div class="chat-avatar">
                            {% include '_partials/_photo_profile.html.twig' %}
                            <div class="chat-name">{{ user.name }}</div>
                        </div>
                        <div class="chat-text">{{ message.message }}</div>
                        <div class="chat-hour">{{ message.createdAt|date('H:i') }}<span class="fa fa-check-circle btq"></span></div>
                    </li>
                {% elseif message.expediteur.email == conversation.correspondant.email %}
                    <p class="chat_date chat-right">{{ message.createdAt|date('d/m/y') }}</p>
                    <li class="chat-right">
                        <div class="chat-hour">{{ message.createdAt|date('H:i') }}<span class="fa fa-check-circle btq"></span></div>
                        <div class="chat-text">{{ message.message }}</div>
                        <div class="chat-avatar">
                            {% if conversation.correspondant.image %}
                                <img src="{{ conversation.correspondant.image }}" alt="image de profil">
                            {% else %}
                                <img src="{{ asset('images/default-profile-picture.jpg') }}" alt="image de profil par défaut">
                            {% endif %}
                            <div class="chat-name">{{ conversation.correspondant.name }}</div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="form-outline custom">
        {{ form_start(form, {attr : {novalidate: 'novalidate', class: 'width-100 d-flex row-wrap'}}) }}
            {{ form_widget(form.message) }}
            <div class="align_button">
                <div class="block_buttons chat_submit">
                    {{ form_widget(form.submit) }}
                    <div class="form-error width-100">
                        {{ form_errors(form.message) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
        </div>
    </div>
    <div class="bloc_form btn-custom btq chat">
        <span class="hover-effect btq">
                <a href="{{ path('boutique_messagerie') }}">Retour</a>
        </span>
    </div>
{% endblock %}
