{% extends 'layout/admin_base.html.twig' %}

{% block title %}Avis détails{% endblock %}

{% block body %}
<div class="card mb-4">
    <div class="card-header d-flex"><p class="m-0 font-weight-bold text-primary">Titre de l'avis :&nbsp;</p><p>{{ avi.title }}</p></div>
    <div class="card-body">
        <div class="description_card">
            <p><h6 class="m-0 font-weight-bold text-primary">Description : </h6>{{ avi.commentaire }}</p>
            <p>
                {% for i in 1..5 %}
                    {% if i <= avi.rating %}
                        <i class="fa-solid fa-star favory" data-checked="false" data-note="{{ i }}"></i>
                    {% else %}
                        <i class="fa-solid fa-star" data-checked="false" data-note="{{ i }}"></i>
                    {% endif %}
                {% endfor %}
            </p>
            <p><h6 class="m-0 font-weight-bold text-primary">Mis en ligne le : </h6>{{ avi.createdAt|date('d/m/Y') }}</p>
            {% if avi.actif %}
                <p><h6 class="m-0 font-weight-bold text-primary">Statut : </h6>Actif</p>
                <div>
                    <a href="{{ path('toggle_active_avis', {id: avi.id}) }}" class="btn btn-primary">Rendre inactif</a>
            {% else %}
                <p><h6 class="m-0 font-weight-bold text-primary">Statut : </h6>Inactif</p>
                <div>
                    <a href="{{ path('toggle_active_avis', {id: avi.id}) }}" class="btn btn-primary">Rendre actif</a>
            {% endif %}
                <a href="{{ path('new_conversation_with_id_avis', {id: avi.boutique.user.id, id_avis: avi.id}) }}" class="btn btn-primary">Demander une modification</a>
                <a href="{{ path('details-user', {id: avi.user.id}) }}" class="btn btn-primary">Voir l'utilisateur</a>
            </div>
        </div>
    </div>
</div>
<div class="m-t-20 m-b-20">
    {% if avi.actif %}
        <a href="{{ path('all_avis_actifs') }}" class="btn btn-primary width-100">Retour</a>
    {% else %}
        <a href="{{ path('all_avis_inactifs') }}" class="btn btn-primary width-100">Retour</a>
    {% endif %}
</div>
{% endblock %}
