<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}
        <title>Gestion de ma boutique</title>
        {% endblock %}
        <link rel="icon" href="{{ asset('images/logo-sans-fond.png') }}" >
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.0.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="{{ asset('bootstrap/sb-admin-2.css') }}" rel="stylesheet">
        {{ encore_entry_link_tags('back_boutique') }}
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body id="page-top">
        <div id="wrapper">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >
                <li style="margin: 0" class="">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"></a>
                </li>
                <hr class="sidebar-divider my-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('app_boutique_index') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Espace Boutique</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span>Retour au site</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_listing_favory') }}">
                        <i class="fa-solid fa-heart"></i>
                        <span>Boutiques Favorites</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Interface
                </div>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ path('app_annonce_index') }}" data-toggle="collapse" data-target="#collapseAnnonce"
                       aria-expanded="true" aria-controls="collapseUtilities" >
                        <i class="fa-solid fa-basket-shopping"></i>
                        <span>Mes annonces</span>
                    </a>
                    <div id="collapseAnnonce" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="{{ path('app_annonce_new') }}">Ajouter une annonce</a>
                            <a class="collapse-item" href="{{ path('app_annonce_index') }}">Gérer mes annonces</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAvis"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fa-solid fa-star"></i>
                        <span>Mes avis</span>
                    </a>
                    <div id="collapseAvis" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="{{ path('app_avis_received') }}">Avis reçus</a>
                            <a class="collapse-item" href="{{ path('app_avis_sent') }}">Avis émis</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseParam"  aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fa-solid fa-sliders"></i>
                        <span>Gérer ma boutique</span>
                    </a>
                    <div id="collapseParam" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="{{ path('app_boutique_detail') }}">Informations boutique</a>
                            <a class="collapse-item" href="#">Mes préférences</a>
                        </div>
                    </div>
                </li>
                <hr class="sidebar-divider">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow bg-gradient-secondary">
                        <button id="sidebarToggleTop" class="btn btn-link d -md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Search for..." aria-label="Search"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="{{ path('boutique_messagerie') }}" id="messagesDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Messages <i class="fas fa-envelope fa-fw"></i>{{ render(controller('App\\Controller\\Admin\\ConversationController::notification')) }}
                                </a>
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">Messages non lus</h6>
                                    {{ render(controller('App\\Controller\\Boutique\\MessagerieBoutiqueController::listing')) }}
                                    <a class="dropdown-item text-center small text-gray-500" href="{{ path('boutique_messagerie') }}">Messagerie</a>
                                </div>
                            </li>
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% block user_avatar %}
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"><span style="color: white">Bonjour {{app.user.name}}</span></span>
                                        {% if app.user.image %}
                                        <img class="img-profile rounded-circle" src="{{ asset('uploads/profile/'~app.user.image) }}">
                                        {% else %}
                                        <img class="img-profile rounded-circle" src="{{ asset('images/default-profile-picture.jpg') }}">
                                        {% endif %}
                                    {% endblock %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{{ path('boutique_view_profil', {id : app.user.id}) }}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Mon profil
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Déconnexion
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="container-fluid d-flex" style="padding: 1rem 1rem 8rem 1rem">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {%  include '_partials/_footer-front.html.twig' %}

        <script src="{{ asset('bootstrap/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('bootstrap/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('bootstrap/vendor/js/sb-admin-2.min.js') }}"></script>
        <script src="{{ asset('bootstrap/vendor/datatables/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('bootstrap/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {{ encore_entry_script_tags('back_boutique') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>