<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    <ul>
        <li><a href="{{ path('homepage') }}">home</a></li>
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            {% endif %}
            {% if is_granted('ROLE_VENDEUR') %}
                <li><a href="{{ path('app_boutique_index')}}">Ma Boutique</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>  
            <li><a href="{{ path('app_register') }}">Inscription</a></li> 
        {% endif %}
      </ul>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
</html>
